<style>
    #selP{
        width: 110px;
        text-align: center;
    }
    #buscar{
        width: 240px;
        float: right;
    }
</style>
<div class="row">
    <div class="input-field col s4">
        <input class="sel"  type="number" id="selP" value="{{pag}}">
        <label class="active">Registros por Página</label>

    </div>
    <div class="col s4" align="center">
        <a href="#" id="imprime" class="waves-effect waves-light btn blue"><i class="material-icons left">print</i>IMPRIMIR</a>
        <a href="#" id="excel" class="waves-effect waves-light btn green"><i class="material-icons left">close</i>EXCEL</a>
    </div>
    <div class="col s4" style="text-align: center">
        <input class="search" id="buscar"  onkeyup="search(this,{{ search }},{{ values }},{{ template }})" type="text" placeholder="Buscar..." >
    </div>
</div><!-- fin box-title -->
