<div class="col s12" align="center">
    <ul class="pagination" id="pag">
        <br>
        {% if page_obj.has_previous %}
            <li>
                <a  class="pg puntero" name="{{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="puntero"><i class="material-icons">chevron_left</i></a>
            </li>
        {% endif %}
        {% for a in  range %}
            {% if a <= page_obj.paginator.num_pages %}
                 <li {% if a == page_obj.number %} class="active" {% endif %}>
                     <a class="pg puntero" name="{{ a }}">
                        {{ a }}
                    </a>
                 </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="pg puntero" name="{{ page_obj.next_page_number }}">
                <i class="material-icons">chevron_right</i>
            </a></li>
        {% else %}
            <li class="disabled"  >
                <a class="puntero" >
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% endif %}
        <input type="number" style="width: 100px"  class="form-control input-sm numberI" id="{{pag}}"  value="{{ page_obj.number }}" placeholder="">
        <br>
        <li  id="sp">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>
</ul>
</div>

