<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 56%" ><b>{{ name|upper }} PRODUCTOS</b></span>
</div>



<div class='card'>
    <div class='card-content'>

<div class='row'>
  <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'productos','servicio' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.descripcion }}
        <label for="id_descripcion" class="active">DESCRIPCION</label>
      </div>
      <div class='input-field'>
        {{ form.abreviatura }}
        <label for="id_abreviatura" class="active">ABREVIATURA</label>
      </div>
      <div class='input-field'>
        {{ form.precio }}
        <label for="id_precio" class="active">PRECIO</label>
      </div>
      <div class='input-field'>
        {{ form.tipo_producto }}
        <label for="select2-id_tipo_producto-container" class="active">TIPO PRODUCTO</label>
      </div>
    </div>
    <div class='col s12' align='center'>
      <br><button type='submit' class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons left'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>


    </div>
</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>