<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 20%;margin-right: 15%" ><b>LISTA DE SESIONES CAJA</b></span>
    {% if caja_estado == 'false' %}
        <a class="waves-effect waves-light btn green" onclick='open_caja()'><i class="material-icons left">lock_open</i>APERTURAR CAJA</a>
    {% else %}
        <a class="waves-effect waves-light btn red" onclick='cerrar_caja()'><i class="material-icons left">lock_outline</i>CERRAR CAJA</a>
    {% endif %}

</div>

<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Caja</td>
          <td>Fecha</td>
          <td>Monto Apertura</td>
          <td>Monto Cierre</td>
          <td>Estado</td>
        </tr>
      </thead>
    <tbody>
      {% for f in listasesiones %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ f.idcaja_id}}</td>
          <td>{{ f.fecha}}</td>
          <td>{{ f.montoapertura}}</td>
          <td>{{ f.montocierre}}</td>
          <td >
            {% if f.status == False %}
                <div align="center">
                    <a  class="waves-effect waves-light btn red ">Cerrada</a>
                </div>
            {% else %}
                <div align="center">
                    <a class="waves-effect waves-light btn green">Aperturada</a>
                </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<!-- Lista Cajas -->
<style>
    #modalcaja_12{
        width: 30%;
        height: 250px;
    }
    .title{
        font-size: 16px;
        color:#fff;
        font-weight: bold;
        background: #FEBBB7 !important;
        width: 100%;
        padding: 5px;
        text-align: center;
    }
</style>
<div id="modalcaja_12" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Seleccione la Caja que va aperturar</h4>
        <div class="title">Seleccione La Caja</div>
        <select id="caja" name="caja">
            <option value="">Seleccione</option>
            {% for f in listacajas %}
                <option value="{{ f.id }}">{{ f.descripcion }} - Saldo Actual: {{ f.montototal }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="modal-footer">
        <a class=" modal-action waves-effect waves-danger btn-flat" onclick="cerrar_modal()">
            CANCELAR
        </a>
        <a class=" modal-action waves-effect waves-green btn-flat" onclick='aperturar_caja()'>
            <i class="material-icons left">lock_open</i>APERTURAR CAJA
        </a>
    </div>
</div>

{% load static %}

<script>
    function open_caja() {
        $("#modalcaja_12").openModal();
    }

    function cerrar_modal() {
        $("#modalcaja_12").closeModal();
    }

    function aperturar_caja(){
        if($("#caja").val()==""){
            $(".title").show();return 0;
        }
        l = Lobibox.confirm({
            msg : "¿Está seguro Aperturar Caja Ahora: ?",
            callback: function ($this, type, ev) {
                if(type=="yes"){
                    $.get("admn_caja/sesion_caja/aperturar",{'caja':$("#caja").val()},function(data){
                        traemedatos("admn_caja/sesion_caja/listar");
                        noti('success', "Caja Aperturada Correctamente");
                        $("#modalcaja_12").closeModal();
                    });
                }
            }
        });
    }

    function cerrar_caja(){
        l = Lobibox.confirm({
            msg : "¿Está seguro Cerrar Caja Ahora: ?",
            callback: function ($this, type, ev) {
                if(type=="yes"){
                    $.get("admn_caja/sesion_caja/cerrar",{},function(data){
                        traemedatos("admn_caja/sesion_caja/listar");
                        noti('success', "Caja Cerrada Correctamente");
                    });
                }
            }
        });
    }
</script>
<script>
$('table').dataTable(datEs);
$('select').material_select();
</script>