<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 62%" ><b>{{ name|upper }} COMBOS</b></span>
</div>

<div class='card'>
  <div class='card-content'>

<div class='row'>
  <form id="formulario" onsubmit="return guardarcombo();">
    {% csrf_token %}
    <input type="hidden" id="id" name="id">
    <div class="row">
          <div class="input-field col s4">
              <div class='input-field'>
                {{ form.descripcion }}
                <label for="first_name" class="active">Descripcion:</label>
              </div>
          </div>
          <div class="input-field col s4">
              <div class='input-field'>
                {{ form.abreviatura }}
                <label for="first_name" class="active">Abreviatura:</label>
              </div>
          </div>
          <div class="input-field col s2">
              <div class='input-field'>
                {{ form.descuento }}
                <label for="first_name" class="active">Descuento:</label>
              </div>
          </div>
          <div class="input-field col s2">
              <div class='input-field'>
                 {{ form.precio }}
                 <label for="first_name" class="active">Precio:</label>
              </div>
          </div>
    </div>
    <div style="margin-top:-50px;"></div>
    <center><h6>Lista de platos para el combo</h6></center>
    <div class="row">
        <div class="col s4">
            <input type="text" placeholder="Buscar plato o producto aqui" onkeyup="buscarPer(this,'#lista_cargar_2')">
        </div>
    </div>
    <div id="combo_elaborado"></div>

    <div id ="combolista" class="row">
        <div class="col s12">
            <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
                {% for f in listaplatitos %}
                    <li class="tab col s3">
                        <a onclick="open_tab(this,'tipo_plato_{{ f.idtipo }}')">{{ f.tipo }}</a>
                    </li>
                {% endfor %}
                {% for f in listaproductitos %}
                    <li class="tab col s3">
                        <a onclick="open_tab(this,'tipo_producto_{{ f.idtipo }}')">{{ f.tipo }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="collection" id="lista_cargar_2">
            {% for dato in listaplatitos %}
                <div id="tipo_plato_{{ dato.idtipo }}" class="col s12" style="display: none;"> <br>
                {% for f in dato.lista %}
                    <p style="padding:0 2%;">
                        <input type="checkbox" class="filled-in" id="plato_{{ f.id }}" value="{{ f.id }}">
                        <label  onclick="check_plato('{{ f.id }}','{{ f.descripcion }}')" for="plato_{{ f.id }}">
                            {{ f.descripcion }} - <b> Precio S/. {{ f.precio }}</b>
                        </label>
                    </p>
                {% endfor %}<br>
                </div>
            {% endfor %}

            {% for dato in listaproductitos %}
                <div id="tipo_producto_{{ dato.idtipo }}" class="col s12" style="display: none;"> <br>
                {% for f in dato.lista %}
                    <p style="padding:0 2%;">
                        <input type="checkbox" class="filled-in" id="producto_{{ f.id }}" value="{{ f.id }}">
                        <label  onclick="check_producto('{{ f.id }}','{{ f.descripcion }}')" for="producto_{{ f.id }}">
                            {{ f.descripcion }} - <b> Precio S/. {{ f.precio }}</b>
                        </label>
                    </p>
                {% endfor %}<br>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>

  </div>
</div>
<style>
    .mostrar_tab{
        display: block!important;
    }
</style>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>
<script>
    open_tab($('.tabs a').first(),$('#lista_cargar_2 div').first().attr('id'));
    $(function () {
        var str = $("#btn_envio").text();
        var n = str.indexOf("sendActualizar");
        if(n!=-1){
            var urlf = window.location;
            url = String(urlf).split("=");
            $("#id").val(url[2]);
            $.getJSON('servicio/combos/infocombo',{'id':url[2]},function(data){
                $.each(data[0].platos,function (k,v) {
                    $("#plato_"+v.platos_id).attr("checked","checked");
                    html = '<div class="chip" id="tipoplato_'+v.platos_id+'">';
                    html += '<input name="cantidadplato[]" type="number" value="'+v.cantidad+'" style="width: 40px;height: 25px;color: black;">';
                    html += '<input type="hidden" name="idplato[]" value="'+v.platos_id+'"><label style="font-size: 15px;color: black;">'+v.platos__descripcion+'</label>';
                    html += '<i class="close material-icons" onclick="quitar1('+v.platos_id+')" style="color: red;">close</i></div>';
                    $("#combo_elaborado").append(html);
                });
                $.each(data[0].productos,function (k,v) {
                    $("#producto_"+v.productos_id).attr("checked","checked");
                    html = '<div class="chip" id="tipoproducto_'+v.productos_id+'">';
                    html += '<input name="cantidadproducto[]" type="number" value="'+v.cantidad+'" style="width: 40px;height: 25px;color: black;">';
                    html += '<input type="hidden" name="idproducto[]" value="'+v.productos_id+'"><label style="font-size: 15px;color: black;">'+v.productos__descripcion+'</label>';
                    html += '<i class="close material-icons" onclick="quitar1('+v.productos_id+')" style="color: red;">close</i></div>';
                    $("#combo_elaborado").append(html);
                });
            });
        }
    });
    function open_tab(e,name) {
         $(".mostrar_tab").removeClass('mostrar_tab');
         $("#"+name).addClass('mostrar_tab');
         $(e).parents("ul").find('.active').removeClass('active');
         $(e).addClass('active');
    }
    function buscarPer(t,id) {
        var rex = new RegExp($(t).val(), 'i');
        $(id+' div p').hide();
         var text = $(t).val().length;
         if(text>=1){
             $(id).children('div').addClass('mostrar_tab');
         }else{
             $(id).children('div').removeClass('mostrar_tab');
             $('a.active').trigger('click');
         }

        $(id+' div p').filter(function () {
            return rex.test($(this).children('label').text());
        }).show();

    }
    function check_plato(id,descripcion) {
        if ( $("#tipoplato_"+id).length > 0 ) {
            $("#tipoplato_"+id).remove();
        }else{
            html = '<div class="chip" id="tipoplato_'+id+'">';
            html += '<input name="cantidadplato[]" type="number" style="width: 40px;height: 25px;color: black;" value="1">';
            html += '<input type="hidden" name="idplato[]" value="'+id+'"><label style="font-size: 15px;color: black;">'+descripcion+'</label>';
            html += '<i class="close material-icons" onclick="quitar1('+id+')" style="color: red;">close</i></div>';
            $("#combo_elaborado").append(html);
        }
    }
    function check_producto(id,descripcion) {
        if ( $("#tipoproducto_"+id).length > 0 ) {
            $("#tipoproducto_"+id).remove();
        }else{
            html = '<div class="chip" id="tipoproducto_'+id+'">';
            html += '<input name="cantidadproducto[]" type="number" style="width: 40px;height: 25px;color: black;" value="1">';
            html += '<input type="hidden" name="idproducto[]" value="'+id+'"><label style="font-size: 15px;color: black;">'+descripcion+'</label>';
            html += '<i class="close material-icons" onclick="quitar2('+id+')" style="color: red;">close</i></div>';
            $("#combo_elaborado").append(html);
        }
    }
    function quitar1(id) {
        $("#plato_"+id).removeAttr("checked");
    }
    function quitar2(id) {
        $("#producto_"+id).removeAttr("checked");
    }
    function guardarcombo(){
        if ($("#combo_elaborado").text()==" " || $("#combo_elaborado").text()=="") {
            noti('error',"Error minimo debe seleccionar un plato o producto para el combo");
            return false;
        }
        $("#btn_envio").attr("disabled","true");
        $.ajax({
            url: "servicio/combos/guardarcombo",
            type: 'GET',
            data: $("#formulario").serialize(),
            success: function(data){
                if(data=="true"){
                    if($("#id").val()==""){
                        noti('success',"Combo registrado correctamente");
                    }else{
                        noti('success',"Combo modificado correctamente");
                    }
                }else{
                    noti('error',"Error al registrar combo");
                }
                window.location.href = "#servicio/combos/listar";
            }
        });
        return false;
    }
</script>