<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE COMBOS</b></span>
        <a href='#servicio/combos/add?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>


<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>descripcion</td>
          <td>abreviatura</td>
          <td>descuento</td>
          <td>precio</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.descripcion}}</td>
          <td>{{ foo.abreviatura}}</td>
          <td>{{ foo.descuento}}</td>
          <td>{{ foo.precio}}</td>
          <td>
            <a style='color: red' href='#servicio/combos/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red'  onclick="deleteMantenimiento('servicio','combos',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script>
$('table').dataTable(datEs);
</script>
<!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href='#servicio/combos/add?id='>
        <i class="large material-icons">add</i>
    </a>
</div-->

