.perfilI  {
  position: relative;
  margin-bottom: 10px;
  height: 220px;
  border-radius: 90px;

}
 input#imgInp {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 200px;    
}  
 .vista {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 200px;
    font-size: 20px;
}  
.re {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.di{
    display: none;
}
