            .tab-p{
                display: inline-block;
                background: white;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 10px;
                padding-right: 5px;
                border-right: 1px solid black;
                font-size: 12px;
                color: grey;
                border-radius: 10px;

            }
            .tab-p:hover{
                background: transparent;
                cursor: pointer;
            }
            .tab-p .close, .tab-p .tiny {
                cursor: pointer;
                float: right;
                font-size: 16px;
            }
            .tactive{
                background: rgba(0, 193, 255, 0.15);
            }
    #resultados{
        height: 100%;
        width: 100%;
        overflow: auto;
    }