<form id="formempleado">
<input type="hidden" id="iduser" name="iduser" value="{{ idempleado }}">
<select name="puesto_trabajo">
{% for foo in pues_tra %}
    <option value="{{ foo.id }}" >{{ foo.descripcion }}</option>
{% endfor %}
</select>

<select name="tipopago">
{% for foo in tipopag %}
    <option value="{{foo.id }}" >{{ foo.descripcion }}</option>
{% endfor %}
</select>

<select name="tiposueldo">
{% for foo in tiposuel %}
    <option value="{{foo.id }}" >{{ foo.descripcion }}</option>
{% endfor %}
</select>
<input type="date" name="fechaini" >

<input type="button" name="guarempleado" id="empleado" value="Guargar" onclick="guardaempleado()">
</form>
<script>
    function guardaempleado(){
        datos=$("#formempleado").serialize();
        $.get("guarda/empleadodato",datos,function(){

        })
    }
</script>