<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 67%" ><b>{{ name }} Usuario</b></span>
    <!--a onclick="add()" class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a-->
</div>


<div class='card'>
  <div class='card-content'>

<form  method="POST" onsubmit="formuser(this);return false"
       {% if request.GET.id %}
       idd="{{ request.GET.id }}
       {% endif %}
       "
       enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.dni.label }}</strong>
                {{ form.dni }}
                <strong style="color: green; font-size: 11px">*{{ form.dni.help_text }} </strong> <br>
            </div>
            <div class="col-md-6">
                <strong>{{ form.sex.label }}</strong>
                {{ form.sex }}
            </div>

        </div>
        <br>
        <strong>{{ form.names.label }}</strong>
        {{ form.names }}<br>


        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.first_name.label }}</strong>
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                <strong>{{ form.last_name.label }}</strong>
                {{ form.last_name }}
            </div>
        </div>
        <br>
        <strong>{{ form.profiles.label }}</strong>
    {{ form.profiles }}
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <strong>{{ form.email.label }}</strong><br>
                {{ form.email }}<br>
            </div>
            <div class="col-md-4">
                <strong>{{ form.date_birth.label }}</strong>
                {{ form.date_birth }}
            </div>
        </div>

        <strong>{{ form.address.label }}</strong><br>
        {{ form.address }}<br>
        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.cellphone.label }}</strong><br>
                {{ form.cellphone }}
            </div>
            <div class="col-md-6">
                <strong>{{ form.telephone.label }}</strong><br>
                {{ form.telephone }}
            </div>
        </div>
        <br>
        <strong>{{ form.foto.label }}</strong>
        {{ form.foto }}
    </div>
    </div>

    {{ form.password1 }}
    {{ form.password2 }}

    {{ form.username }}


    <br>
    <div class="row">
        <button type="submit" class="btn btn-alt btn-hover btn-info btn-danger" >
        <span>{{ name }} </span>
        <i class="glyph-icon icon-arrow-right"></i>
        </button>
    </div>

</form>
  </div>
</div>
{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/appSecurity/users.js' %}"></script>
