<a onclick="atras()" style="color: red; cursor: pointer"  >
    <i class="fa fa-backward"></i>
     Atras
</a><br>

<h3 style="text-align: center;text-transform: uppercase">{{ name }} {{ profile }}</h3> <br>

<form  method="POST" onsubmit="formuser(this);return false" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.dni.label }}</strong>
                {{ form.dni }}
                <strong style="color: green; font-size: 11px">*{{ form.dni.help_text }} </strong> <br>
            </div>
            <div class="col-md-6">
                <strong>{{ form.sex.label }}</strong>
                {{ form.sex }}
            </div>

        </div>
        <br>
        <strong>{{ form.names.label }}</strong>
        {{ form.names }}<br>


        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.first_name.label }}</strong>
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                <strong>{{ form.last_name.label }}</strong>
                {{ form.last_name }}
            </div>
        </div>
        <br>
        <input type="hidden" name="profiles" value="{{ idp }}">
        <input type="hidden" name="idvendedor" value="{{ idvendedor }}">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <strong>{{ form.email.label }}</strong><br>
                {{ form.email }}<br>
            </div>
            <div class="col-md-4">
                <strong>{{ form.date_birth.label }}</strong>
                {{ form.date_birth }}
            </div>
        </div>

        <strong>{{ form.address.label }}</strong><br>
        {{ form.address }}<br>
        <div class="row">
            <div class="col-md-6">
                <strong>{{ form.cellphone.label }}</strong><br>
                {{ form.cellphone }}
            </div>
            <div class="col-md-6">
                <strong>{{ form.telephone.label }}</strong><br>
                {{ form.cellphone }}
            </div>
        </div>
        <br>
        <strong>{{ form.foto.label }}</strong>
        {{ form.foto }}
    </div>
    </div>

    {{ form.password1 }}
    {{ form.password2 }}

    {{ form.username }}
    {% if prestador %}
        <input type="hidden" name="prestador" value="1">
    {% endif %}
    {% if prestamista %}
        <input type="hidden" name="prestamista" value="1">
    {% endif %}
    <br>
    <div class="row">
        <button type="submit" class="btn btn-alt btn-hover btn-info btn-danger" >
        <span>{{ name }} </span>
        <i class="glyph-icon icon-arrow-right"></i>
        </button>
    </div>

</form>
{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/appSecurity/users.js' %}"></script>
