<style>
    .arr{
            height: 20px;
            width: 20px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
    }
</style>

<a  style="color: red;" class="puntero" onclick = "traemedatos('security/usuarios')" >
    <i class="fa fa-backward"></i>
    Atras
</a><br>
{% for users in users %}
<h3 align="center" style="color: #2b71a8 ;" >
    ACERCA DE : {{ users.names|title }}
</h3>
<br>
<div class="panel" style="color: #2b71a8 ; padding-top: 18px; " align="center" >
    registrado el: {{ users.date_joined }}<br>
    <br>
      <div class="col-md-6">
        <br>
        <div class="row">
            <div class="col-md-12" >
                <div class="panel" >
                    <div class="panel-body" align="center" >
                            <label for="" style="color: #2b71a8">FOTO: {{ users.names|title }} </label><br>
                            <img src="media/{{ users.foto }}" alt="" style="width: 200px ; height: 250px ;border: outset;border-radius: 5%  " ><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 hr">
        <br>
        <div class="row">
      <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero"  style="color: #0d4984">
                    <b>{{user.username|title}}</b>
                </h3>
                <div class="example-box-wrapper">
                    <div class="timeline-box timeline-box-left">
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-primary">
                                    <i class="glyph-icon icon-toggle-on"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content" style="color: #0d4984" >
                                        <div class="tl-label bs-label label-info">{{user.names}} {{user.first_name}} {{user.last_name}} </div>
                                        <p class="tl-content">
                                           <h5><i class="fa fa-clone  arr" ></i> <b> Dni:</b> {{user.dni}}</h5>
                                           <h5><i class="fa fa-fax arr"></i><b> Teléfono:</b> {{user.telephone}}</h5>
                                           <h5><i class="fa fa-phone arr"></i><b> Celular: </b>{{ user.cellphone }}</h5>
                                           <h5><i class="fa fa-map-marker arr"></i><b> Dirección: </b>{{user.address}}</h5>
                                           <h5><i class="fa fa-at arr"></i><b> Correo: </b>{{user.email}}</h5>
                                           <h5><i class="fa fa-birthday-cake arr"></i><b> Fecha Cumpleaños:</b> {{user.date_birth}}</h5>
                                           <h5><i class="fa fa-venus-mars arr"></i><b> Sexo:</b>
                                              {%   if user.sex == 'm'  %}
                                                    Masculino
                                               {% else %}
                                                    Femenino
                                               {% endif %}
                                           </h5>
                                           <h5><i class="fa fa-building-o arr"></i><b> Fecha-Inscrip:</b> {{user.date_joined|date:"d/m/Y"}}</h5>
                                           <h5>
                                               <i class="fa fa-bullhorn arr"></i><b>Año de Experiencia: </b> {{ users.work_experiencie }}
                                           </h5>
                                           <h5><i class="fa fa-weixin arr"></i><b>Contraseña: </b> {{ users.password_default }} </h5>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>

</div>
{% endfor %}