<style>
    .errorlist{
        color: red;
    }
</style>
<h4 align="center">CAMBIAR CONTRASEÑA</h4>
<form action="" method="post" onsubmit="cambiar_contra(this); return false">{% csrf_token %}
    <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
            <div class="input-field col s12">
                 <i class="material-icons prefix">person_pin</i>
                {{ form.old_password }}
                {{ form.old_password.label_tag }}
                {{ form.old_password.errors }}
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                 {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                {{ form.new_password1.label_tag }}

            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
                {{ form.new_password2.label_tag }}
                {% if form.new_password2.help_text %}
                <p class="help">{{ form.new_password2.help_text }}</p>
                {% endif %}
            </div>
            <div align="center" class="col s12">
               <input type="submit" value="cambiar" class="btn btn-primary">
            </div>
        </div>
            <div class="col s3"></div>
    </div>
</form>

