<style>
    .est{
        -moz-border-radius-topright: 57px;
        -webkit-border-top-right-radius: 57px;
        border-top-right-radius: 57px;
        -moz-border-radius-bottomleft: 57px;
        -webkit-border-bottom-left-radius: 57px;
        border-bottom-left-radius: 57px;
    }
#map_canvas {
  height: 300px;
  width: 100%;
}
</style>

{% load static %}
<link href="{% static 'css/fotoperfil.css' %}" rel="stylesheet"/>

 <div class="row">
        <div class="col s12">
            <div class="page-title"><b><h4 style="color: rgba(48, 151, 180, 0.91) ">CUENTA</h4></b></div>
        </div>
  <div class="col s12 m4 l3">
     <div class="card">
      <div class="card-content center-align">
          <!-- para a foto -->
            <div class="ibox float-e-margins">
                <div>
                    <div class="  card ibox-content no-padding border-left-right" align="center" >
                        <form method="post" enctype="multipart/form-data" id="formularioImg" >
                            {% csrf_token %}
                            <div class="perfilI " style="cursor:pointer;">
                                <input type="file"  id="imgInp" accept="image/*" name="foto" value="" placeholder="">
                                <img id="img" width="500px" height="500px" class="vista img-responsive di est" src="" alt="">
                                {% if user.foto %}
                                    <img id="mos_img" alt="image" width="300px" class="img-responsive re" src="{{MEDIA_URL}}{{user.foto}}">
                                {% else %}
                                    <img alt="image" width="200px"  class="img-responsive re" src="{{MEDIA_URL}}fotoperfil/miuser.jpg">
                                {% endif %}
                            </div>
                        </form>

                            <i onclick="guardarI('fotoprofile/')" style="color:green" class="fa fa-check fa-2x di bora puntero"></i>

                            <i onclick="cancel()" style="color:red" class="fa fa-ban fa-2x di xx bora puntero"></i>

                    </div>
                    <div id="impri" class="ibox-content profile-content">
                    </div>
                </div>
            </div>
         <!-- fin de la foto -->
          <!-- para actualizar y editar contraseña-->
          <div class=" card row animated fadeInRight" align="center">
                <div class="col s8">
                            <ul >
                                <li>
                                    <a onclick="edi()" class="puntero waves-effect waves-light btn pink m-b-xs" >
                                        Editar Información
                                    </a>
                                </li>
                                <li >
                                    <a  onclick="contra()"class="puntero waves-effect waves-light btn green m-b-xs">
                                        Cambiar contraseña
                                    </a>
                                </li>
                            </ul>
                </div>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content" id="editar">

                    </div>
                </div>
           </div>
        <!-- fin  para actualizar y editar contraseña-->
       <p class="m-t-lg flow-text">{{user.username|title}} {{user.names}} {{user.first_name}} {{user.last_name}}</p>
      </div>
     </div>

  </div>
        <div class="col s12 m4 l5">
                        <div class="card">
                            <div class="card-content">
                                <div id="map_canvas">
                                </div>
                            </div>

                        </div>

         </div>
        <div class="col s12 m4 l4" style="color: rgba(48, 151, 180, 0.91)">
                        <div class="card" style="color: rgba(48, 151, 180, 0.91)">
                            <div class="card-content ">
                                <span class="card-title">Direccion</span>
                                <address>
                                    <strong><i class="fa fa-map-marker " ></i><b> Dirección: </b>{{user.address}}</strong><br>
                                    <abbr title="Phone"> </abbr><i class="fa fa-phone " ><b> Celular: </b>{{ user.cellphone }}</i><br>
                                    <i class="fa fa-fax " ><b> Teléfono:</b> {{user.telephone}}</i><br>
                                    <i class="fa fa-at "><b> Correo: </b>{{user.email}}</i>
                                </address>
                            </div>

                             <div class="card">
                          <div class="card-content" style="color: rgba(48, 151, 180, 0.91)">
                               <span class="card-title">DATOS</span>
                               <h6><i class="fa fa-clone " ></i><b > Dni:</b>{{user.dni}}</h6>
                               <h6><i class="fa fa-birthday-cake " ></i><b> Fecha Cumpleaños:</b> {{user.date_birth}}</h6>
                               <h6><i class="fa fa-venus-mars " ></i><b> Sexo:</b>
                                                          {%   if user.sex == 'm'  %}
                                                                Masculino
                                                           {% else %}
                                                                Femenino
                                                           {% endif %}
                               </h6>
                               <h6><i class="fa fa-building-o "></i><b> Fecha-Inscrip:</b>{{user.date_joined|date:"d/m/Y"}}</h6>
                          </div>
                         </div>
                        </div>
        </div>
  </div>
<script type="text/template"  id="mostrar">
                                
</script>    
<script src="{%static 'js/fotoperfil.js' %}"></script>

<script type="text/javascript">
$.when(
    $.getScript("http://maps.google.com/maps/api/js?sensor=false"),
    $.Deferred(function( deferred ){
        $( deferred.resolve );
    })
).done(function(){

  var geocoder;
  var map;
  var address ="{{user.address}}";
  if (typeof google != "undefined") {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(-34.397, 150.644);
      var myOptions = {
          zoom: 15,
          center: latlng,
          mapTypeControl: true,
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
          navigationControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      if (geocoder) {
          geocoder.geocode({'address': address}, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                      map.setCenter(results[0].geometry.location);

                      var infowindow = new google.maps.InfoWindow(
                              {
                                  content: '<b>' + address + '</b>',
                                  size: new google.maps.Size(150, 50)
                              });

                      var marker = new google.maps.Marker({
                          position: results[0].geometry.location,
                          map: map,
                          title: address
                      });
                      google.maps.event.addListener(marker, 'click', function () {
                          infowindow.open(map, marker);
                      });

                  } else {
                      alert("No results found");
                  }
              } else {
                  alert("Geocode was not successful for the following reason: " + status);
              }
          });
      }
  }

});

</script>