<style>
    .table>tbody>tr>td{
        padding: 3px;
    }
    .arr{
            height: 20px;
            width: 30px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
    }


</style>
<!-- <div class="row">
    <div class="col s12">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero"  style="color: #0d4984">
                    <b>{{user.username|title}}</b>
                </h3>
                <div class="example-box-wrapper">
                    <div class="timeline-box timeline-box-left">
                        <div class="row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-primary">
                                    <i class="glyph-icon icon-toggle-on"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content" style="color: #0d4984">
                                        <div class="tl-label bs-label label-info">
                                            {{user.names}} {{user.first_name}} {{user.last_name}}
                                        </div>
                                        <p class="tl-content">
                                           <h5><i class="fa fa-clone " ></i><b > Dni:</b><div > {{user.dni}}</div></h5>
                                           <h5><i class="fa fa-fax " ></i><b> Teléfono:</b> {{user.telephone}}</h5>
                                           <h5><i class="fa fa-phone " ><b> Celular: </b>{{ user.cellphone }}</i></h5>
                                           <h5><i class="fa fa-map-marker " ></i><b> Dirección: </b>{{user.address}}</h5>
                                           <h5><i class="fa fa-at "></i><b> Correo: </b>{{user.email}}</h5>
                                           <h5><i class="fa fa-birthday-cake " ></i><b> Fecha Cumpleaños:</b> {{user.date_birth}}</h5>
                                           <h5><i class="fa fa-venus-mars " ></i><b> Sexo:</b>
                                              {%   if user.sex == 'm'  %}
                                                    Masculino
                                               {% else %}
                                                    Femenino
                                               {% endif %}
                                           </h5>
                                           <h5><i class="fa fa-building-o "></i><b> Fecha-Inscrip:</b>{{user.date_joined|date:"d/m/Y"}}</h5>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

!-->