{% load static %}
<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 66%" ><b>REPORTE COMIDA</b></span>

</div>

<div class='card'>
  <div class='card-content'>
      <div id="iReporteComida"></div>
  </div>
</div>



<script src="{% static 'js/Reporte-Comida.js' %}"></script>
