<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/icons/icon.png">
    <meta name="description" content="" />
    <meta name="keywords" content=""  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="_nK">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/introLoader.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'assets/offline/offline.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'assets/offline/offline-spanish.css' %}" rel="stylesheet" type="text/css" media="screen" />

    {% block css %}

    {% endblock %}

</head>

<body>

 <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->
    {% block contenido %} 
    {% endblock %}


        <!-- jQuery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/introLoader.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/offline/offline.min.js' %}"></script>
<script>


</script>
    {% block js %}
    
    {% endblock %}

</body>
</html>