    {% for fila in lista %}
        <tr class="padre" id="{{fila.id}}">
            <td>
                <input type="checkbox" name="allDel[]" value="{{fila.id}}">
            </td>
            <td>{{ fila.description }}</td>
            <td>{{ fila.url }}</td>
            <td><a class="puntero">
                <i class="fa fa-pencil" style="color: orangered;"  onclick="updateUser({{ fila.id }})"></i>
            </a></td>
            <td><a class="puntero">
                <i class="fa fa-trash-o" style="color: red;"  onclick="deleteUser({{ fila.id }})"></i>
            </a></td>
        </tr>
    {% endfor %}
<tr>
<td colspan="8">
    <a class="puntero" onclick="Delall()" ><i class="fa fa-trash-o fa-lg" ></i> Eliminar seleccionados</a>
</td>
</tr>