   {% for u in object_list %}
        <tr class="padre" id="{{u.id}}">
            <td>
                <input type="checkbox" name="allDel[]" value="{{u.id}}">
            </td>
            <td class="center-align">{{ forloop.counter }}</td>
            <td> <a class="puntero" onclick="moreUser({{ u.id }})" style="color: steelblue">{{ u.first_name|title }}  {{ u.last_name|title }},  {{ u.names|title }}</a></td>
            <td>
                {% for p in u.profiles.all %}
                    <li style="color: forestgreen">{{ p }}<br></li>
                {% endfor %}
            </td>
            <td class="center-align">{{ u.username }}</td>
            <td class="center-align">{{ u.dni }}</td>
            <td class="center-align"><a class="puntero">
                <i class="fa fa-pencil" style="color: orangered;"  onclick="updateUser({{ u.id }})"></i>
            </a></td>
            <td class="center-align"><a class="puntero">
                <i class="fa fa-trash-o" style="color: red;"  onclick="deleteUser({{ u.id }})"></i>
            </a></td>
            <td class="center-align"><a class="puntero">
                <i class="mdi-action-lock-open" style="color: green;"  onclick="permiso({{ u.id }})"></i>
            </a></td>
        </tr>
    {% endfor %}
<tr>
<td colspan="12">
    <a class="puntero" onclick="Delall()" ><i class="fa fa-trash-o fa-lg" ></i> Eliminar seleccionados</a>
    <a class="puntero" onclick="clickmenu(this,'security/usuarios/cargarfalso')" ><i class="fa fa-trash-o fa-lg" ></i> traer falsos</a>
</td>
</tr>