{% for u in lista %}
        <tr class="padre" id="{{u.id}}">
            <td>
                <input type="checkbox" name="allDel[]" value="{{u.id}}">
            </td>
            <td>{{ forloop.counter }}</td>
            <td>{{ u.modulo }} </td>

            <td>{{ u.funcion }}</td>
            <td>{{ u.url }}</td>
            <td>{{ u.fechahora }}</td>
            <td>{{ u.userid__names }} {{ u.userid__last_name}} {{ u.userid__first_name}}</td>
            <td><a class="puntero">
                <i class="fa fa-pencil" style="color: orangered;"  onclick="updateUser({{ u.id }})"></i>
            </a></td>
            <td><a class="puntero">
                <i class="fa fa-trash-o" style="color: red;"  onclick="deleteUser({{ u.id }})"></i>
            </a></td>
        </tr>
    {% endfor %}
<tr>
<td colspan="8">

    <a class="puntero" onclick="recuperarall()" ><i class="fa fa-trash-o fa-lg" ></i> Eliminar seleccionados</a>
</td>
</tr>