{% extends "base_index.html" %}
{% block title %}
  {{empresa.titulo}}
{% endblock %}
{% block css %}
    {% load static %}
   <!-- materialize -->
    {#% load compress %#}
    {#% compress css inline %#}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/materialize.css' %}" />
   <!-- animate -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/animate/animate.css' %}" />

    <!-- Slick Navigation -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/slicknav.css' %}" />
    <!-- Slick Navigation -->

    <!-- Top And Menu Sections -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/drop-menu.css' %}" />
    <!-- Top And Menu Sections -->

    <!-- Home Slider Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/home-slider-style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/extralayers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/settings.css' %}" />
    <!-- Home Slider -->


    <link type="text/css" rel="stylesheet" href="{% static 'assets/paginaweb/style.css' %}" />
    <!-- Common Css -->

    <!--Gallery Filer-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/paginaweb/owl.carousel.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'assets/paginaweb/portfolio-new.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/paginaweb/prettyPhoto.css' %}"  type="text/css" />
	<style>
		 .qwqw {
			padding-top: 10px;
			margin-bottom: 10px;
			color: rgba(52, 145, 180, 0.77);
			background-color: rgba(43, 162, 165, 0.76);
		}
		.qwqw h5 {
			font-size: 3rem;
			letter-spacing: -2px;
			line-height: 1;
			text-shadow: 4px 3px 0 rgba(45, 156, 174, 0.49),9px 8px 0 rgba(57, 182, 215, 0.08);
		}
        .coo{
            color: rgba(251, 246, 255, 0.77);

        }
	</style>
    {#% endcompress %#}

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


{% endblock %}

{% block contenido %}

<!--PRELOADER STARTS-->
<section id="jSplash">
  <div class="spinner">
      <div class="cube cube0 z-depth-1"></div>
      <div class="cube cube1 z-depth-1"></div>
      <div class="cube cube2 z-depth-1"></div>
      <div class="cube cube3 z-depth-1"></div>
      <div class="cube cube4 z-depth-1"></div>
      <div class="cube cube5 z-depth-1"></div>
      <div class="cube cube6 z-depth-1"></div>
      <div class="cube cube7 z-depth-1"></div>
      <div class="cube cube8 z-depth-1"></div>
      <div class="cube cube9 z-depth-1"></div>
      <div class="cube cube10 z-depth-1"></div>
      <div class="cube cube11 z-depth-1"></div>
      <div class="cube cube12 z-depth-1"></div>
      <div class="cube cube13 z-depth-1"></div>
      <div class="cube cube14 z-depth-1"></div>
      <div class="cube cube15 z-depth-1"></div>
  </div>
</section>
<!--PRELOADER ENDS-->

<!-- Home Section -->



<!-- Menu Section -->

<div id="fixed-header">
<div class="header-inner">
<nav class="whitestrip">
    <div class="nav-wrapper qwqw">

          <a href="#home" class="brand-logo " >
              <h5>
                {{ empresa.titulo }}
              </h5>
          </a>
          <ul id="sub-nav" class="nav right">
            <li><a href="#home" class="smoothscroll coo">Inicio</a></li>
            <li><a href="#about" class="smoothscroll coo">Nosotros</a></li>
            <li><a href="#menu" class="coo">Misión</a></li>
            <li><a href="#reservation" class="coo">Vision</a></li>
            <li><a href="#gallery" class="coo">Objetivos</a></li>
            <li>
                <a href="#contact" class="coo">Contactenos</a>

            </li>
            <li>
                <a href="#" onclick="$('.loginN').css('display','block')">
                    <button type="button" class="btn btn-primary" style="font-weight:bold;background-color:#4dae4c;color:#ffffff;">
                        INGRESE SESIÓN
                    </button>
                </a>
            </li>
            <li><a href="https://www.facebook.com/ieta0004.tarapoto/"><i class="fa fa-facebook social-icons coo"></i></a></li>

          </ul>

    </div>





  </nav>
</div>
</div>

<!-- //Menu Section -->
<div id="home" class="whitebg scrollspy">
<!-- Home Content Section -->
<div class="home">
            <div >
                    <div id="snow" class="snow">
                        <!-- Draw coposs without using images! -->
                        <div class="copos f1">&#10053;</div>
                        <div class="copos f2">&#10052;</div>
                        <div class="copos f3">&#10053;</div>
                        <div class="copos f4">&#10052;</div>
                        <div class="copos f5">&#10053;</div>
                        <div class="copos f6">&#10052;</div>
                        <div class="copos f5" style="left: 340px">&#10053;</div>
                        <div class="copos f5" style="left: 380px">&#10052;</div>
                        <div class="copos f1" style="left: 400px">&#10053;</div>
                        <div class="copos f2" style="left: 440px">&#10052;</div>
                        <div class="copos f1" style="left: 480px">&#10053;</div>
                        <div class="copos f5" style="left: 600px">&#10052;</div>
                        <div class="copos f6" style="left: 760px">&#10053;</div>
                        <div class="copos f1" style="left: 680px">&#10052;</div>
                    </div>
                    <div id="ground"></div>
            </div>
    <!-- Home Slider Banner -->
        <div class="home-banner">

                <div class="container">
                    <div class="row" >
                        <div class="col s12 m8 l8" style="height: 320px;  z-index:0;
                        background-image: url('static/assets/paginaweb/img/portal.png'); background-repeat: no-repeat">
                        </div>
                        <div class=" col s12 m4 l4 loginN" style=" display: none">
                            {% include 'login/frm_login.html' %}
                        </div>

                    </div>
                </div>

                <!-- Home Bottom Section -->

                <div class="down-circle">
                    <div class="home-scroll-content"></div>
                     <div data-wow-delay="2s" class="span3 wow fadeInLeftBig">
                         <div class="anchor">
                             <div class="wow bounce" data-wow-delay="3s" data-wow-iteration="1" data-wow-duration="1s">
                                <a href="#about" class="btn-floating waves-effect waves-light btn-large white smoothscroll">
                                    <i class="mdi-hardware-keyboard-arrow-down"></i>
                                </a>
                             </div>
                     </div>
                </div></div>

                <!-- Home Bottom Section -->
        </div>

    <!-- // Home Slider Banner -->

        <div class="colorbg" >
            <div class="container">
                <h1>{{ empresa.titulo }} </h1>
                <p> {{ empresa.about }}</p>
            </div>
        </div>

</div>

<!-- Home Content Section -->

</div>
<!-- //Home Section -->


<!-- About Section -->

<div id="about" class="whitebg scrollspy">

	<div class="row container">
	<div id="accordion" class="section scrollspy">
        <div class="row">

          <!-- Left Section -->
           <div class="col l6 s12">
            <div class="clearfix">

                <div class="col s12 l6 marbot30">
                    <img data-wow-delay="0.1s" class="materialboxed span3 wow flipInY z-depth-4" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/1.jpg" alt=" ">                </div>
              <div class="col s12 l6 marbot30">
                	 <img data-wow-delay="0.1s" class="materialboxed span3 wow flipInY z-depth-4" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/2.jpg"  alt=" ">                </div>

              <div class="col s12 l6 marbot30">
                	 <img data-wow-delay="0.1s" class="materialboxed span3 wow flipInY z-depth-4" data-caption="A picture of some deer and tons of trees"  src="static/assets/paginaweb/img/3.jpg"  alt=" ">                </div>

              <div class="col s12 l6 marbot30">
              		<img data-wow-delay="0.1s" class="materialboxed span3 wow flipInY z-depth-4" data-caption="A picture of some deer and tons of trees"  src="static/assets/paginaweb/img/4.jpg"  alt=" ">                </div>

            </div>
           </div>
          <!-- Left Section -->

          <!-- Right Section -->
          <div class="col l6 s12">
          	<div class="center">
                <h1 class="marbot15 wow fadeInUp animated" data-wow-delay="300ms">La Participación De Las Asociaciones De Padres De Familia </h1>
                <div class="hr-line"><i class="mdi-action-star-rate"></i></div>
              <div class="tag padding-12-per">Tiene por finalidad contribuir con los demás actores
                  educativos al mejoramiento de la calidad de los aprendizajes y servicios que ofrece la Institución Educativa.
                </div>
            </div>

            <ul class="collapsible martop30" data-collapsible="accordion">
              <li class="">
                <div class="collapsible-header">APAFA / Objetivos<i class="mdi-hardware-keyboard-arrow-down"></i></div>
                <div class="collapsible-body">
                	<p>Promover y organizar la participación y cooperación de los padres de familia en las actividades del colegio,
                        sobre todo en las que estimulen la realización de los valores culturales, civicos y patrioticos de ambas
                        naciones.</p><br>
                    <p>Coordinar con la Asociación Promotora , promover, sostener, difundir los valores permanentes de la familia y
                        colaborar en el desarrollo integral de los educandos.
                        Cooperar al perfeccionamiento espiritual y material de los educandos y de los asociados.
                        Contribuir al mejoramiento de la infraestructura y equipamiento del colegio para optimizar el servicio educativo.
                        Mantener la vigencia permanente del principio de la Libertad de educación que implica, por parte de los padres,
                        el derecho a educar y a escoger la forma de educación de sus hijos.</p>
                </div>
              </li>
              <li class="">
                <div class="collapsible-header">¿Quiénes somos?<i class="mdi-hardware-keyboard-arrow-down"></i></div>
                <div class="collapsible-body">
                	<p>Somos representantes de los padres de familia.
                        Trabajamos en coordinación con los delegados.
                        Somos nexo entre los padres de familia, el colegio y la promotora..</p>
                </div>
              </li>
              <li class="">
                <div class="collapsible-header">¿Qué buscamos?<i class="mdi-hardware-keyboard-arrow-down"></i></div>
                <div class="collapsible-body"><p>Buscamos fomentar la participación activa de los padres de familia a través de la integración.Como:</p
                                                <p>Comunicación continua.</p>
                                                  <p>Charlas formativas, de orientación, etc.</p>
                                                  <p>Deportes (festivales y campeonatos).</p>
                                                  <p>Actividades Culturales, etc.</p>
                </div>
              </li>
              <li>
                <div class="collapsible-header">¿Cómo crecemos? <i class="mdi-hardware-keyboard-arrow-down"></i></div>
                <div class="collapsible-body">
                    <p>Adoptando una actitud constructiva y positiva hacia nuestro colegio.</p>
                    <p>Educando a nuestros hijos con nuestro ejemplo.</p>
                    <p>Deportes (festivales y campeonatos).</p>
                    <p>Participando en el desarrollo integral de nuestros hijos.</p>
                    <p>Trabajando en equipo.</p>
                </div>

              </li>
            </ul>
          </div>
          <!-- Right Section -->


        </div>
      </div>
      </div>
</div>

<!-- // About Section -->


<!-- Menu Starts -->
    <div id="menu" class="scrollspy">
            <div class=" row whitebg">
                <div class=" container center col s8">

                    <h1 class="marbot15 wow fadeInUp animated" data-wow-delay="300ms">Mision</h1>
                            <div class="hr-line"><i class="mdi-action-star-rate"></i></div>
                  <div class="tag padding-25-per">Somos una Institución Educativa integrada (inicial, primaria, secundaria)
                      que brinda servicio educativo integral y de calidad, que permita a los estudiantes desarrollar sus potencialidades,
                      con una actitud emprendedora, para hacerlos capaces de mejorar su entorno familiar y social..</div>

                </div>

                <div class="col s4 view3 third-effect3">
                    <img  class="responsive-img" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/mision.png" alt=" ">
                </div>
            </div>
    </div>

<!-- // Menu Ends -->

<!-- Reservatiob Starts -->

<div id="reservation" class="graybg scrollspy">
	<div class="container">
    	<div class="row">

    	<div class="col l6 s12 marbot30">
                <img data-wow-delay="800ms"  class="materialboxed wow flipInY" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/misionn.png" alt=" ">        </div>

      <div class="col l6 s12">
        	<div class="center">
                <h1 class="marbot15 wow fadeInUp animated" data-wow-delay="300ms">Visión</h1>
                <div class="hr-line"><i class="mdi-action-star-rate"></i></div>
              <div class="tag padding-12-per">Somos una Institución Educativa integrada (inicial, primaria, secundaria) que brinda
                  servicio educativo integral y de calidad, que permita a los estudiantes desarrollar sus potencialidades, con una
                  actitud emprendedora, para hacerlos capaces de mejorar su entorno familiar y social.
              </div>
            </div>

        </div>

        </div>
    </div>
</div>

<!-- Reservatiob Ends -->

<!-- Gallery Starts -->
<div id="gallery" class="gallerybg scrollspy">
    	<div class="row">

        <div class="center">
            <h1 class="marbot15 wow fadeInUp animated" data-wow-delay="300ms">OBJETIVOS </h1>
            <div class="hr-line"><i class="mdi-action-star-rate"></i></div>
          <div class="tag padding-25-per">Promover y organizar la participación y cooperación de los padres de familia en las
              actividades del colegio, sobre todo en las que estimulen la realización de los valores culturales, civicos y
              patrioticos de ambas naciones.
          </div>
        </div>

        <!-- Owl Slider -->
<div class="wrapper-with-margin martop60">

    <div id="owl-demo">
    <ul  id="portfolio-grid" class="portfolio-grid owl-carousel">
				<!-- Portfolio Item 1 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd1.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd1.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso,
                                    trabajar en equipo asegura el exito</div>
                       	  </a>
                      </div>
                  </div>
		        </li>

                <!-- Portfolio Item 2 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd2.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd2.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso, trabajar en equipo asegura el exito </div>
                       	  </a>                        </div>
                  </div>
		  </li>

                <!-- Portfolio Item 3 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd3.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd3.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso, trabajar en equipo asegura el exito</div>
                       	  </a>                        </div>
                  </div>
		  </li>

                <!-- Portfolio Item 4 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd4.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd4.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso, trabajar en equipo asegura el exito </div>
                       	  </a>                        </div>
                  </div>
		  </li>

                <!-- Portfolio Item 5 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd5.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd5.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso, trabajar en equipo asegura el exito</div>
                       	  </a>                        </div>
                  </div>
		  </li>

                <!-- Portfolio Item 6 -->
				<li class="mix all animate photography mix_all">
                	<div class="view3 third-effect3">
                    	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="static/assets/paginaweb/img/dd6.jpg" alt=" ">
                      <div class="mask">
                       	  <a href="static/assets/paginaweb/img/dd6.jpg" title="Project description" data-rel="prettyPhoto[gallery1]" class="viewDetail lightbox info">
                          <div class="project-overlay"></div>
                                <div class="port-caption">Reunirse en equipo es el principio, mantenerse en equipo es el progreso, trabajar en equipo asegura el exito </div>
                       	  </a>  </div>
                  </div>
		  </li>



    	   </ul>
    </div>
</div>

        </div>
</div>
<!-- Gallery Ends -->


<!-- Contact Starts -->
<div class="contactbg">
<div id="contact" class="graybg contact-overlay scrollspy">
	<div class="container">
    	<div class="row">
        	<div class="center">
            <h1 class="marbot15 wow fadeInUp animated" data-wow-delay="300ms">Estar en Contacto </h1>
            <div class="hr-line"><i class="mdi-action-star-rate"></i></div>
            <div class="tag padding-25-per">Podemos ponernos en contacto con usted rellenando el siguiente formulario,
                Tenga en cuenta que los contactos sólo se confirman una vez que comprobar la disponibilidad .. Gracias!
            </div>
        </div>
        <div class="martop60">
        	<div class="col l7 s12">
            	<div class="contact-form marbot30">
                	<form id="contact_form" class="clearfix" action="#" method="post">
                          <div class="input-field col s12">
                           <i class="mdi-action-account-circle prefix"></i>
                            <input type="text" name="name" class="" placeholder="* Name : "
                    onfocus="this.placeholder = ''" onBlur="this.placeholder = '* Name :'" />
                          </div>
                      <div class="input-field col s12">
                          	<i class="mdi-communication-email prefix"></i>
                            <input type="text" name="email"  class=""
                    placeholder="* Email : " onFocus="this.placeholder = ''" onBlur="this.placeholder = '* Email :'" />
                          </div>
                      <div class="input-field col s12">
                          	<i class="mdi-communication-phone prefix"></i>
                         <input type="text" name="phone" class=""
                    placeholder="* Phone : " onFocus="this.placeholder = ''" onBlur="this.placeholder = '* Phone :'" />
                          </div>
                      <div class="input-field col s12">
                          	<i class="mdi-editor-mode-edit prefix"></i>
                           <textarea name="message" class="materialize-textarea" id="textarea1"
                    placeholder="* Message : " onFocus="this.placeholder = ''" onBlur="this.placeholder = '* Message :'"></textarea>
                          </div>
                      <div class="contact col s12 martop30">
                      <!--<input id="contactsubmitBtn1" value="Send a message" name="Confirm" type="submit" class="submitBtn">-->
                            <a class="waves-effect waves-light btn" id="conbutton" >Enviar mensage</a>                          </div>

                  </form>
                     <div id="contact_form_thanks" class="col s12"><p> </p></div>
                </div>
            </div>

            <div class="col l5 s12 wow fadeInRight animated" data-wow-delay="300ms">
            	<h4>Datos de contacto</h4>
                <div class="contact-details">
                	<div class="row">
                	<div class="col s12 marbot15">
                    	<span class="cont-info-left">
	                    	<i class="mdi-action-home"></i>
                        </span>
                        <span class="cont-info-right">
                        	#JIRON AMERICA CDRA 3, <br/>San Martin, Tarapoto.
                        </span>
                    </div>
                    <div class="col s12 marbot15">
                        <span class="cont-info-left">
	                    	<i class="mdi-communication-email prefix"></i>
                        </span>
                        <span class="cont-info-right">
                        	<a href="#">Sitio Web, página oficial del centro educativo</a>
                        </span>
                    </div>
                    <div class="col s12 marbot15">
                        <span class="cont-info-left">
	                    	<i class="mdi-communication-phone prefix"></i>
                        </span>
                        <span class="cont-info-right">
                        	<a href="#">042526550</a>
                        </span>
                    </div>
                    </div>
                </div>

               	<div class="footer-social-icons martop60">
               		<h4>Socializa</h4>
                    <div class="social-space">
                    	<a href="https://www.facebook.com/ieta0004.tarapoto/" class="btn-floating waves-effect waves-light btn-large white wow rollIn animated" data-wow-delay="0.5s">
                       		<i class="fa fa-facebook facebook"></i>                        </a>
              		</div>
              	</div>

            </div>
            </div>
        </div>
    </div>
	</div>
</div>
<!-- Contact Ends -->

<!-- Footer And Map -->

<div id="footer">

<!--  Map Section -->
<div class="map-section">
	<!-- map -->
		<div class="map_wrapper">
			<div class="map-close"><img src="static/assets/paginaweb/img/close-white.png" alt=" ">
				<div class="close_box">            	</div>
            </div>
			<div id="map_canvas">            </div>
		</div>
<!-- // map -->
		<section id="foot_top" class="show-googlemap plus">
 			<div class="foot_top_txt">
				<div>
                    <i class="wow pulse animated mdi-maps-place foot_icon" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" ></i>
                    Visítenos en el mapa
                    <i class="mdi-hardware-keyboard-arrow-down foot_icon"></i>
                </div>
			</div>
		</section>
    </div>
<!-- // Map Section -->

<!-- Footer Section -->

<div class="footer">
	<div class="container">
    	<div class="row">
        	<div class="col l6 s12 marbot30 wow fadeInLeft animated" data-wow-delay="300ms">
                <div class="footer-title">
                	Sistema Apafa
                </div>
            	<p class="martop10 padding-right-20per">
				Promover y organizar la participación y cooperación de los padres de familia en las actividades del colegio, valores:
                    <span>
                        <a href="#">culturales, civicos y patrioticos de ambas
                        naciones.
                        </a>
                    </span> Coordinar con la Asociación Promotora , promover, sostener, difundir los valores permanentes de
                    la familia. <br /> <br />
                    Contribuir al mejoramiento de la infraestructura y equipamiento del colegio para optimizar el servicio educativo.
                </p>

          </div>
            <div class="col l3 s12 marbot30 wow fadeInUp animated" data-wow-delay="300ms">
            		<div class="footer-title">
                    	Localizaciones
                    </div>
                    <div class="footer-sub-title">
                    	PERÚ - San Martín - Tarapoto
                    </div>
                    <p>
                    	#3 Jr. AMERICA  <br />
                    </p>

                    <div class="footer-sub-title">
                    	Referencia
                    </div>
                    <p>
                        Perpendicular de Jr. Manco Inca de la cuadra #6 al 9m del Essalud,<br />
                    </p>
            </div>
            <div class="col l3 s12 marbot30 wow fadeInRight animated" data-wow-delay="300ms">
                <div class="footer-title">
                    	Horario de Atención
                    </div>
                    <div class="footer-sub-title">
                    	Lunes-Viernes:
                    </div>
                    <p> 8:00 AM - 1:00 PM y 3:00 pm - 7:00 pm
                    </p>
            </div>
        </div>
    </div>


<div class="footer-strip">

<div class="container">
	<div class="row">
    	<div class="col l4 s12">
        	    <h3 style="	color: #3491b4">SoftApafa</h3>
        </div>
        <div class="col l4 s12 valign">
        	 &copy; 2016 SisApafa, todos los derechos reservados.        </div>
        <!--<div class="col l3 s12">
            <li> Tel : 123 456 7890 </li>
        </div>-->
        <div class="col l4 s12 valign">
            <i class="fa fa-circle"></i> DISEÑADO Y DESARROLLADO POR  <span><a href="#">Unsm-t </a></span>        </div>
    </div>
</div>

<!-- Home Bottom Section -->
<div class="down-circle">
      <div data-wow-delay="200ms" class="span3 wow fadeInLeftBig"> <div class="anchor"><div class="wow bounce" data-wow-delay="1s" data-wow-iteration="1" data-wow-duration="1s">
        <a href="#home" class="btn-floating waves-effect waves-light btn-large white smoothscroll">
           <i class="mdi-hardware-keyboard-arrow-up"></i>        </a>    </div>
     </div>
</div>
</div>
<!-- Home Bottom Section -->
</div>



<!-- // Footer Section -->
</div>

{% endblock %}
{% block js %}
    {#% compress js inline %#}
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery-2.1.3.min.js' %}"></script>
    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>


    <!-- Preloader Starts -->
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jpreloader.min.js' %}"></script>
    <!-- Preloader Starts -->

    <!-- Home And Gallery Slider -->
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.themepunch.revolution.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/paginaweb/js/owl.carousel.min.js' %}"></script>

    <!-- Home And Gallery Slider -->

    <!-- Slick Navigation -->
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.slicknav.min.js' %}"></script>
    <!-- Slick Navigation -->

    <!-- Filter Gallery And PrettyPhoto-->
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.mixitup.min.js' %}"></script>
    <!-- Filter Gallery And PrettyPhoto End-->

    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.fitvids.js' %}"></script>

    <!-- Map Sections  -->

    <script type="text/javascript" src="{% static 'assets/paginaweb/js/google-map-custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/sscr.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/jquery.smooth-scroll.min.js' %}"></script>
    <!-- Map Sections  -->

    <!-- Custom Script  -->
    <script type="text/javascript" src="{% static 'assets/paginaweb/js/custom-general.js' %}"></script>
    <!-- Custom Script  -->
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    {#% endcompress %#}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

{% endblock %}