{% extends "base_security.html" %}
{% block title %}
  PeruCore
{% endblock %}
{% block css %}
    {% load static %}

    <link href="{% static 'tools/style.css' %}" rel="stylesheet" type="text/css" media="screen" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


{% endblock %}

{% block contenido %}


<div class="wrapper">
	<div class="header">
		<h1 id="logo">Perú <span>Core</span></h1>
	</div>

	<div class="content">
		<div class="main-content">
			<div class="comingsoon">
				<h2><a href="demo">VER AVANCE</a></h2>
			</div>
			<div class="main-counter">
				<div id="counter"></div>
			</div>
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/perucore" target="_blank"><span class="socicon">b</span></a></li>
                    <li><a href="contacto/" target="_blank">contactar</a></li>
				</ul>
			</div>

			<div class="form">
				<div class="mainform">
                    <form id="myFor" action="/" onsubmit="reenvioEmail(this); return false">
                         {% csrf_token %}
					<div class="field"><input type="text" class="field" id="test" name="email" placeholder="email para notificaciones"></div>

					<div class="submit"><input name="action" class="submit" type="submit" value="Enviar"></div>
                          </form>
				</div>
			</div>

			<div class="social2">
				<ul>
					<li><a href="https://www.facebook.com/perucore" target="_blank"><span class="socicon">b</span></a></li>
                    <li><a href="contacto/" target="_blank">contactar</a></li>
				</ul>
			</div>


		</div>
	</div>
</div>



{% endblock %}
{% block js %}
    <script src="{% static 'js/contacto.js' %}"></script>
	<script type="text/javascript" src="{% static 'tools/jquery.countdown.min.js' %}"></script>
	<script>
    $(document).ready(function() {

        var launchdate = new Date(2016, 10 - 1, 5);
        $('#counter').countdown({
            until: launchdate
        });
    });
	</script>
	<script type="text/javascript">
        var placeholder = $("#test").val();

        $("#test").keydown(function() {
            if (this.value == placeholder) {
                this.value = '';
            }
        }).blur(function() {
            if (this.value == '') {
                this.value = placeholder;
            }
        });
    </script>

{% endblock %}