<h1>Asignar Acciones a Modulos</h1>
<button id="add_m_p" >Agregar</button>
<table>
    <thead>
    <tr>
        <th>item</th>
        <th>Funcion</th>
        <th>*/</th>
    </tr>
    </thead>
    <tbody>
    {% for n in objectx %}
        <tr>
            <td> {{ n.id }} {{ n.app_label }}/{{ n.model }}</td>
            <td>{{ n.name }}</td>
            <td><a href="javascript:void(0);" onclick="update_mp({{ n.content_type_id }})">update</a>{{ n.content_type_id }}</td>
            <td><!--<a href="javascript:void(0);" onclick="delete_mp({{ n.content_type_id }})">delete</a>{{ n.content_type_id }}--></td>
        </tr>
    {% endfor  %}
    </tbody>
</table>




<div class="modal fade" id="modal_m__a" tabindex="-1" role="dialog" aria-labelledby="modal_m__a">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form id="form_m_p" onsubmit="add_m_psb(this); return false;">
         {% csrf_token %}
          <input type="hidden" id="valx" name="idxy"value="" />
           <select id="permission" name="permission" >
          <option value="0" >...Seleccione</option>
              {% for p in modul %}
                <option value={{ p.id }}>{{ p.app_label}}/{{ p.model }}</option>
              {% endfor%}
          </select>



          <select id="accion" name="accion"  multiple="multiple" class="form-control input-sm" style="height: 200px">
          <option value="0" >...Seleccione</option>
              {% for p in perm %}
                <option value={{ p }}>{{ p}}</option>
              {% endfor%}
             </select>

             <br>
            <input type="submit"  value="x" />

         </form>
      <div id="btx"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).on("click","#add_m_p",function () {
         accion();
    })

    $(document).on("click","#xy",function () {
         dato=$("form").serialize();
         console.log(dato);
        $.post('mantenimiento/moduloperm/upd_moduloperm/',dato).done(function (data) {
              console.log("ok");
              $("#valx").val(0);
             $("#modal_m__a").modal("hide");
             return false;
            });

    });

    function accion() {

        $("#btx").html("");
        $("#valx").val(0);
        $("#permission").val(0)
        $("#modal_m__a").modal("show");

    }

    function add_m_psb(t) {
        alert("si llego");
        tx=$(t).serialize();
        //console.log(tx);
        $.post('mantenimiento/moduloperm/add_nuevos/',tx).done(function (data) {
            console.log("ok");

            $("#modal_m__a").modal("hide");
            return false;
        });

        $("#modal_m__a").modal("hide");
        return false;


    }
    
    function update_mp(id) {
        var num = id;
        $("#valx").val(id);
        $("#permission option").removeAttr('selected');
        $("#permission option").each(function(){
                if($(this).val()==num){ // EDITED THIS LINE
                      $(this).attr("selected","selected");
                     }
                });

        $("#modal_m__a").modal("show");
        $.post('mantenimiento/moduloperm/update_moduloperm/',{'id':id ,'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},function (data) {
                $("#accion option").removeAttr('selected');
                 $.each(data, function(i, item) {
                    $("#accion option").each(function(){
                          if($(this).val()==item.codename){ // EDITED THIS LINE
                         $(this).attr("selected","selected");
                       }
                     });
            });
              $("#btx").html("<button type='button' id='xy'>edita</button>");
        },'json');
    }

</script>