{% extends "base_security.html" %}
{% block title %}
  PeruCore
{% endblock %}
{% block css %}
    {% load static  %}
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/material-design-icons/css/material-design-icons.min.css' %}" />

    <!-- IonIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ionicons/css/ionicons.min.css' %}" />

    <!-- WeatherIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}" />

   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->

{% endblock %}

{% block contenido %}
<section id="sign-in">
    {% if validlink %}
           <form method="post" >
        <div class="card-panel clearfix">
        {% csrf_token %}
            {% if form.errors %}
            <div class="alert">
              <strong>{{ form.errors }} </strong>
            </div>
            {% endif %}
          <div class="col m6 s12">
            <div class="input-field">
            <i class="fa fa-unlock-alt prefix"></i>

                {{ form.new_password1 }}
             <label for="id_new_password1">confirme contraseña</label>
            </div>
              </div>
                <div class="col m6 s12">
             <div class="input-field">
            <i class="fa fa-unlock-alt prefix"></i>

                {{ form.new_password2 }}
             <label for="id_new_password2">confirme contraseña</label>
            </div>
             </div>



              <button class="btn" type="submit" name="action">
                  Restaurar <i class="mdi-content-send right"></i>
                </button>

</div>
    </form>
    {% else %}
        <div class="center"><blockquote class="orange-text">
  <p>
    ENLACE INVALID
    <br>
    <small>Este Enlace ya a sido utilizado </small>
  </p>
</blockquote></div>
    {% endif %}


</section>
    <div class="footer">
            <p>Hardsoft © 2016 Todos los derechos reservados</p>
    </div>


{% endblock %}
{% block js %}

    <!-- jQuery RAF (improved animation performance) -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-requestAnimationFrame/dist/jquery.requestAnimationFrame.min.js' %}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>


    <!-- Main -->
    <script type="text/javascript" src="{% static 'assets/_con/js/_con.js' %}"></script>

    <!-- Google Prettify -->
    <script type="text/javascript" src="{% static 'bower_components/code-prettify/src/prettify.js' %}"></script>

    <script src="{% static 'js/contacto.js' %}"></script>

{% endblock %}











