<h1>Asignar Permisos(Acciones) a Usuarios-Perfil</h1>
<button id="add_u_p_px">Add</button>
<table xmlns="http://www.w3.org/1999/html">
    <thead>
        <th>item</th>
        <th>Username</th>
         <th>Perfil</th>
        <th>Permisos</th>
    <th>Accion</th>
    </thead>
    <tbody>
    {% for upp in object %}
    <tr>
        <td>{{ upp.users_profiles_id }}</td>
        <td>{{ upp.username }}&nbsp; {{ upp.user_id }}</td>
        <td>{{ upp.description }}&nbsp; </td>
        <td>{{ upp.app_label }}/{{ upp.model }}|{{ upp.codename }} &nbsp;</td>
        <td><a  href="javascript:void(0);"   onclick="update_up({{ upp.users_profiles_id }});">Update</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>



</table>

<div class="modal fade" id="modal_u_p_p" tabindex="-1" role="dialog" aria-labelledby="modal_m__a">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form id="form_m_p" onsubmit="add_us_p_p(this); return false;">
          {% csrf_token %}
        <input type="hidden" name="valx" id="valx" value="0">
            <select id="user_p" name="user_p"   aria-multiselectable="true">
                    <option value="0">Seleccione</option>
                     {% for up in userp %}
                     <option value="{{ up.id }}">{{ up.username }}/{{ up.description }}</option>
                    {% endfor %}

            </select>
            <br>
             <select id="perm" name="perm"   multiple="multiple" class="form-control input-sm" style="height: 200px">
                    <option value="0">Seleccione</option>
                     {% for upx in permx %}
                     <option value="{{ upx.id }}">{{ upx.app_label }}/{{ upx.model }}| {{upx.name  }}</option>
                    {% endfor %}

            </select>
            <input type="submit"  value="x" />
            <div id="btx"></div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

    $("#add_u_p_px").click(function () {
        $("#modal_u_p_p").modal("show");
    })

});

    $(document).on("click","#xy",function () {
        data=$("#form_m_p").serialize();

            $.post('mantenimiento/userperm/upd_userperm/',data).done(function (data) {
            console.log("ok");

            $("#modal_m__a").modal("hide");
            return false;
        });
    });


    function add_us_p_p(t) {

     //alert("si llego");
        tx=$(t).serialize();
        console.log(tx);
        $.post('mantenimiento/userperm/add_userperm/',tx).done(function (data) {
            console.log("ok");

            $("#modal_u_p_p").modal("hide");
            return false;
        });

        $("#modal_u_p_p").modal("hide");
        return false;
    }

    function update_up(id) {
         var num = id;
        $("#valx").val(id);
        $("#user_p option").removeAttr('selected');
        $("#user_p option").each(function(){
                if($(this).val()==num){ // EDITED THIS LINE
                      $(this).attr("selected","selected");
                     }
                });
         $("#modal_u_p_p").modal("show");
          $.post('mantenimiento/userperm/update_userperm/',{'id':id ,'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},function (data) {
                $("#perm option").removeAttr('selected');
                  console.log("ok")
                 $.each(data, function(i, item) {
                    $("#perm option").each(function(){
                          if($(this).val()== item.permission_id){ // EDITED THIS LINE
                         $(this).attr("selected","selected");
                    }
             });
            });
              $("#btx").html("<button type='button' id='xy'>edita</button>");
        },'json');

    }

</script>
