<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 52%" ><b>{{ name|upper }} COMPROBANTES</b></span>
</div>

<div class='card'>
    <div class='card-content'>

<div class='row'>
  <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'comprobante','admn_caja' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.descripcion }}
        <label for="id_descripcion" class="active">DESCRIPCION</label>
      </div>
      <div class='input-field'>
        {{ form.correlativo_inicial }}
        <label for="id_correlativo_inicial" class="active">CORRELATIVO INICIAL</label>
      </div>
      <div class='input-field'>
        {{ form.correlativo }}
        <label for="id_correlativo" class="active">CORRELATIVO</label>
      </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons left'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>

    </div>
</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>