<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
                {% if modulo %}
                    {% for m in modulo %}
                        <li  class="no-padding" id="{{m.permisos__idmodulo__description}}1">
                        {% if m.permisos__idmodulo__father == 0  %}
                                <a class="collapsible-header waves-effect waves-grey" id="{{m.permisos__idmodulo__description}}2">
                                    <i class="{{m.permisos__idmodulo__icon__clase}}"></i>
                                     {{m.permisos__idmodulo__description}}
                                    <i class="nav-drop-icon material-icons">keyboard_arrow_right</i>
                                </a>
                                <div class="collapsible-body" id="{{m.permisos__idmodulo__description}}3">
                                    {% with idpadre=m.permisos__idmodulo_id %}
                                        <ul>
                                            {% for n in modulo  %}
                                                {% if n.permisos__idmodulo__father == idpadre  %}
                                                    <li>
                                                        <a  id="{{n.permisos__idmodulo__description}}"
                                                            href="#{{n.permisos__idmodulo__url}}"
                                                            father="f{{m.permisos__idmodulo__description}}"
                                                            class="waves-effect waves-blue"
                                                            onclick="clickmenu(this,'{{n.permisos__idmodulo__url}}')"
                                                        />
                                                        <span>
                                                            <i class="{{n.permisos__idmodulo__icon__clase}}"></i>
                                                            {{n.permisos__idmodulo__description}}
                                                        </span>

                                                        </a>
                                                    </li>


                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endwith %}
                                </div><!-- .sidebar-submenu -->

                        {% endif %}
                        </li>
                    {% endfor %}

                    {% else %}
                        <br>
                       <div class="alert alert-warning">
                           <div class="bg-red alert-icon">
                               <i class="glyph-icon icon-warning"></i>
                           </div>
                            <div class="alert-content">
                                 No se encontro ningún Módulo contacte con el Administrador

                                <a href="#" title="Link">:(</a></p>
                            </div>
                       </div>

                    {% endif %}

                </ul>



