            <header class="mn-header navbar-fixed">
                <nav class="cyan darken-1">
                    <div class="nav-wrapper row">
                        <section class="material-design-hamburger navigation-toggle">
                            <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
                                <span class="material-design-hamburger__layer"></span>
                            </a>
                        </section>
                        <div class="header-title col s3 m3">
                            <a href="#" class="chapter-title">ManQawi</a>
                        </div>

                        <ul class="right col s9 m3 nav-right-menu">
                            <li class="collection-item avatar">
                                <a class="dropdown-button dropdown-right show-on-large" href="#!" data-activates="desplegable">

                                    <img src="{% if user.foto %}
                                        {{ MEDIA_URL }}{{user.foto}}
                                    {% elif user.foto_url %}
                                        {{user.foto_url}}
                                    {% else %}
                                        {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                    {% endif %}" class="circle responsive-img valign profile-image" alt="">
                                    &nbsp;&nbsp;<strong>{{user.username}}</strong>


                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                                <ul id="desplegable" class="dropdown-content notifications-dropdown active">
                                    <li><a href="#{% url 'editcuenta' %}" class="waves-effect waves-blue">
                                      <i class="material-icons">assignment_ind</i>
                                      Perfil
                                  </a></li>

                                  <li class="divider"></li>
                                  <li><a href="/salir" class="waves-effect waves-grey">
                                      <i class="material-icons">settings_power</i>
                                      Cerrar Sesion
                                  </a></li>
                                </ul>
                            </li>
                            <li class="hide-on-small-and-down">
                                <a href="javascript:void(0)" data-activates="dropdown1" class="dropdown-button dropdown-right show-on-large">
                                    <i class="material-icons">notifications_none</i>
                                    <span class="badge">{{ lno }}</span>
                                </a>
                                <ul id="dropdown1" class="dropdown-content notifications-dropdown">
                            <li class="notificatoins-dropdown-container">
                                <ul>
                                    {% for foo in noti %}
                                        <li class="notification-drop-title">{{ foo.created_at }}</li>
                                        <li>
                                            <a href="#{{ foo.accion }}">
                                            <div class="notification">
                                                <div class="notification-icon circle cyan"><i class="material-icons">done</i></div>
                                                <div class="notification-text" >
                                                    {{ foo.titulo|title }}
                                                    {{ foo.message|safe  }}
                                                </div>
                                            </div>
                                            </a>
                                        </li>
                                    {% endfor %}


                                </ul>
                                </li>

                                </ul>
                            </li>

                        </ul>

                    </div>
                </nav>
            </header>
<style>
    #desplegable li a i {
        color: rgba(0,0,0,1);
    }
    .middle-content {
        padding-top: 0;
        padding-right: 0;
        float: left;
        width: calc(100% - 20px)!important;
    }
    .card-panel {
        transition: box-shadow .25s;
        padding: 10px;
        margin: 0;
        border-radius: 2px;
        background-color: #fff;
    }
</style>