{% extends 'base_security.html' %}
{% block title %}
	ManQawi
{% endblock  %}
{% block css %}

 {% load static  %}
    {#% load compress %#}
    {#% compress css inline %#}
    <!-- Material Design -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/materialize/css/materialize.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon.css' %}" />

    <link rel="stylesheet" type="text/css" href="{%static 'assets/select2/css/select2.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{%static 'assets/select2/css/select2-materialize.css' %}" />

    <link rel="stylesheet" type="text/css" href="{%static 'assets/datatables/css/jquery.dataTables.min.css' %}" />

    <!-- Theme Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/alpha.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lobibox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {#% endcompress %#}
    <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}


{% block contenido %}
<div class="mn-content fixed-sidebar">
    {% include "system/header.html" %}
    <aside id="slide-out" class="side-nav white fixed">
                <div class="side-nav-wrapper">
                    <!--div class="sidebar-profile" style="background-image: url({% static 'assets/img/profile_bg.png' %})">
                        <div class="sidebar-profile-image">
                            <img src="{% if user.foto %}
                                    {{ MEDIA_URL }}{{user.foto}}
                                {% elif user.foto_url %}
                                    {{user.foto_url}}
                                {% else %}
                                    {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                {% endif %}" class="circle" alt="">
                        </div>
                        <div class="sidebar-profile-info">
                            <a href="javascript:void(0);" class="account-settings-link">
                                <p>{{user.username}} - {{profile_des}}</p>
                                <span>{{user.email}}<i class="material-icons right">arrow_drop_down</i></span>
                            </a>
                        </div>
                    </div-->
                    <!--div class="sidebar-account-settings">
                        <ul>
                            <li class="no-padding">
                                <a href="#{% url 'editcuenta' %}" class="waves-effect waves-grey"><i class="material-icons">assignment_ind</i>Perfil</a>
                            </li>
                            <li class="divider"></li>
                            <li class="no-padding">
                                <a href="/salir" class="waves-effect waves-grey"><i class="material-icons">settings_power</i>Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div-->
                    {% include "system/module/modules.html" %}
                <div class="footer">
                    <p class="copyright">ManQawi ©</p>
                    <a href="#!">Términos</a> &amp; <a href="#!">Condiciones</a>
                </div>
                </div>
            </aside>


    <main class="mn-inner inner-active-sidebar">

                <div class="middle-content">
                    <div id="algo">
                        <img src="{{ MEDIA_URL }}13.gif" style="display: none; z-index: 1000; position: absolute" id="spinner" alt="cargando..."  />
                    </div>
                    <div class="row" style="margin-left: -35px;">
                        <div class="col s12" id="tab-p"></div>
                    </div>
                    <div id="resultados">
                        <div class="resultados">
                            <div id="ejemplo">
                            </div>
                        </div>
                    </div>

                </div>

            </main>



</div>
<div class="left-sidebar-hover"></div>




{% endblock%}

{% block js %}
    {#% load compress %#}
    {#% compress js inline %#}
    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/select2/js/es.js' %}"></script>
    <!-- Main -->
    <script type="text/javascript" src="{% static 'assets/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/datatables/js/datable-es.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/alpha.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/hashchange.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/underscorejs/underscore-min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/lobibox.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/jqueryui/jquery-ui.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/appSecurity/baseMantenimiento.js' %}"></script>
    {#% endcompress %#}

{% endblock %}
