                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           {% extends "base_security.html" %}
{% block title %}
	SISTEMA - HARDSOFT
{% endblock  %}

{% block css %}

 {% load static %}
        <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/material-design-icons/css/material-design-icons.min.css' %}" />
   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />
{% endblock %}

{% block contenido %}

    <h2 align="center" id="letra-acceso" ><b>SISTEMAS</b></h2>
    <a href="/salir" ><h2  class="fa fa-mail-reply" > SALIR</h2></a>
    <div class="pricing-table">
                <div class="pt-col-4">
                </div>
                <div class="pt-col-4">
                        <div class="pt-header">
                            <div class="pt-title">PSICOLOGÍA</div>
                        </div>
                        <div class="pt-footer">
                            <a href="/psicologia" class="btn btn-primary z-depth-0" role="button">Entrar!</a>
                        </div>
                </div>
                <div class="pt-col-4">
                        <div class="pt-header">
                            <div class="pt-title">APAFA</div>
                        </div>
                        <div class="pt-footer">
                            <a href="/apafa" class="btn btn-primary z-depth-0" role="button">Entrar!</a>
                        </div>
                </div>

    </div>

{% endblock%}

{% block js %}

{% endblock %}