<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 63%" ><b>{{ name|upper }} MESAS</b></span>
</div>

<div class='card'>
    <div class='card-content'>

<div class='row'>
  <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'mesas','servicio' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <div class='input-field'>
        {{ form.descripcion }}
        <label for="id_descripcion" class="active">DESCRIPCION</label>
      </div>
      <div class='input-field'>
        {{ form.capacidad }}
        <label for="id_capacidad" class="active">CAPACIDAD</label>
      </div>
      <div class='input-field'>
        {{ form.color }}
        <label for="id_color" class="active">COLOR</label>
      </div>
      <div class='input-field'>
        {{ form.tipo_mesa }}
        <label for="select2-id_tipo_mesa-container" class="active">TIPO MESA</label>
      </div>
    </div>
    <div class='col s12' align='center'>
      <br><button type='submit' class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons left'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>

     </div>
</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>