<h4 align="center">{{ name|upper }} PERMISOS</h4>
<a onclick="atras()" style="color: red; cursor: pointer" >
    <i class="fa fa-backward"></i>
    Atras
</a><br>

<div class="row">
    <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},
            'permission','matenimientos' );return false;"
    >
        {% csrf_token %}
        <div class="col s4"></div>
        <div class="col s4">
            <div class="input-field">
                {{ form.descripcion }}
                {{ form.descripcion.label_tag }}
            </div>
            <div class="input-field">
                {{ form.idmodulo.label_tag }} <br>
                {{ form.idmodulo }}
            </div>
            <br>
        </div>

        <div class="col s12" align="center">
            <button type="submit" class="waves-effect waves-light btn">
                <i class="material-icons">send</i>{{ name }}
            </button>
        </div>
    </form>
</div>
<script>
    $("select").select2();

</script>
