<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 48%" ><b>{{ name|upper }} COMPRA</b></span>
</div>

<div class='card'>
    <div class='card-content'>

<div class='row'>
  <form id="form_compra" onsubmit="return guardarcomprita()">
    {% csrf_token %}

    <div class="row">

        <div class="input-field col s4">
            <div class='input-field'>
            {{ form.nombreproveedor}}
             <label for="select2-id_nombreproveerdor-container" class="active">PROVEEDOR</label>
            </div>
        </div>
        <div class='input-field col s4'>
            <div class='input-field'>
            {{ form.descripcion }}
             <label for="first_name" class="active">DESCRIPCION</label>
            </div>
        </div>
        <div class='input-field col s4'>
          <div class='input-field'>
            {{ form.fechacompra }}
           <label for="first_name" class="active">FECHA COMPRA</label>
          </div>
        </div>

    </div>
      <!-- lista de productos-->
      <center><h6>Lista de Productos</h6></center>
       <!-- lista de productos-->
      <div class="row producto">
          <div class="input-field col s3">
            <div class="input-field">
               <select class="producto" onchange="infoproducto()" id="producto" >
                 <option value="">----------</option>
                 {% for foo in producto %}
                  <option value="{{ foo.id}}">{{ foo.descripcion}}</option>
                 {% endfor %}
                </select>
               <label class="active">PRODUCTO</label>
            </div>
        </div>

        <div class='input-field col s2'>
          <div class='input-field'>
            <input type="number" id="precio" >
           <label for="first_name" class="active">PRECIO</label>
          </div>
        </div>
        <div class='input-field col s2'>
            <div class='input-field'>
             <input type="number" id="cantidad" >
             <label for="first_name" class="active">CANTIDAD</label>
            </div>
        </div>
        <div class='input-field col s2'>
          <div class='input-field'>
            <p>
              <input type="checkbox" class="filled-in" id="igvdetalle" checked="checked" />
              <label for="igvdetalle">IGV</label>
            </p>
          </div>
        </div>
        <div class='input-field col s2'>
          <div class='input-field'>
            <a class="waves-effect waves-light btn agregar" onclick="agregar()">AGREGAR</a>
          </div>
        </div>
    </div>


      <div class="row">
          <!-- tabla-->
           <div class='card'>
              <div class='card-content'>
                <table>
                  <thead>
                    <tr>
                <!--      <td>#</td> -->
                      <td>PRODUCTO</td>
                      <td>CANTIDAD</td>
                      <td>PRECIO</td>
                      <td>IGV</td>
                      <td>SUBTOTAL</td>
                      <td>MODIFICAR</td>
                      <td>QUITAR</td>
                    </tr>
                  </thead>
                <tbody id="conten">
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="row">
          <div class='input-field col s2'>
          <div class='input-field'>
            {{ form.totalcompra }}
           <label for="first_name" class="active">COMPRA TOTAL</label>
          </div>
        </div>
        <div class='input-field col s2'>
          <div class='input-field'>
            {{ form.totaligv }}
           <label for="first_name" class="active">TOTAL IGV</label>
          </div>
        </div>
      </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn'>
        <i class='material-icons left'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>

    </div>
</div>
<!-- Modal -->
<div id='myModal'> </div>

<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: true, // Creates a dropdown of 15 years to control year
    format: 'yyyy-mm-dd'
  });
    
    function infoproducto() {
        if($("#producto").val()!=""){
            $.getJSON("compra/compra/infoproducto",{'idpro':$("#producto").val()},function(data){
                $("#precio").val(data[0].precio);
            });
        }else{
            $("#precio").val("");
        }
    }
    var sumigv=0;
    var sumtotal=0;
    var canti=0;
    function agregar() {
        if($("#producto").val()=="" || $("#precio").val()=="" || $("#cantidad").val()==""){
            noti('error',"Debe completar todos los campos para agregar");
        }else{
          //  var canti = $("#conten tr").length;
           var product= $("#producto").val();
           var cantida=$("#cantidad").val();
           var preci=$("#precio").val();
             canti = canti +1;
            if( $('#igvdetalle').is(':checked') ) {
                var montoigv = 0.18*parseFloat($("#cantidad").val()*$("#precio").val());
                montoigv = montoigv.toFixed(2);
            }else{
                var montoigv = 0.00;
            }
           // var cars = [montoigv];
            var total = parseFloat($("#cantidad").val())*parseFloat($("#precio").val()) + parseFloat(montoigv);
            var idp = $("#producto").val();
            var html = "<tr id='producto_"+canti+"' class='pro_"+canti+"'>";
      //      html += "<td>"+canti+"</td>";
            html += "<td> <input type='hidden' name='idproductitos[]' value='"+$("#producto").val()+"'>"+$("#producto option:selected").text()+"</td>";
            html += "<td> <input type='hidden' name='cantidades[]' value='"+$("#cantidad").val()+"'>"+$("#cantidad").val()+"</td>";
            html += "<td> <input type='hidden' name='precios[]' value='"+$("#precio").val()+"'>"+$("#precio").val()+"</td>";
            html += "<td> <input type='hidden' name='igvtotal[]' value='"+montoigv+"'>"+montoigv+"</td>";
            sumigv=parseFloat(sumigv)+parseFloat(montoigv);
            html += "<td>"+total.toFixed(2)+"</td>";
            sumtotal=parseFloat(sumtotal)+parseFloat(total);
            html += "<td><i class='fa fa-pencil-square-o fa-2x' onclick='modificar("+canti+","+total+","+product+","+cantida+","+preci+","+sumigv+","+sumtotal+","+montoigv+")';></i></td>";
            html += "<td><i class='fa fa-times-circle fa-2x' onclick='quitar("+canti+","+total+","+product+","+cantida+","+preci+","+sumigv+","+sumtotal+","+montoigv+")';></i></td>";
            html += "</tr>";
       //     console.log(html);
            $("#id_totaligv").val(sumigv.toFixed(2));
            $("#id_totalcompra").val(sumtotal.toFixed(2));
            $("#conten").append(html);
            $("#producto").val("");$("#cantidad").val("");$("#precio").val("");
        }
    }
    var res=0;
    var resigv=0;
    function quitar(id,monto,pro,can,pre,tigv,toltal,igv) {

        resigv=parseFloat(sumigv.toFixed(2))-parseFloat(igv.toFixed(2));
       // alert(resigv.toFixed(2)+'='+parseFloat(sumigv.toFixed(2))+'-'+igv);
        sumigv=resigv;
       // alert(resigv+'='+sumigv);
       $("#id_totaligv").val(resigv.toFixed(2));
        res=parseFloat(sumtotal.toFixed(2))-(parseFloat(can)*parseFloat(pre) + parseFloat(igv)).toFixed(2);
      //  alert(res+'='+parseFloat(sumtotal.toFixed(2))+'-'+(parseFloat(can)*parseFloat(pre) + parseFloat(igv)).toFixed(2));
        sumtotal=res;
      //  alert(sumtotal.toFixed(2)+'='+res.toFixed(2))
       $("#id_totalcompra").val(res.toFixed(2));
       $('#producto_'+id).remove();

    }
    var resm=0;
    var resigvm=0;
    function modificar(id,monto,produ,canti,prec,toigv,tot,ig) {
      $("#producto").val(producto);
      $("#cantidad").val(cantidad);
      $("#precio").val(precio);
      resigvm=parseFloat(sumigv.toFixed(2))-parseFloat(ig.toFixed(2));
      sumigv=resigv;
      $("#id_totaligv").val(resigv.toFixed(2));
      resm=parseFloat(sumtotal.toFixed(2))-(parseFloat(canti)*parseFloat(prec) + parseFloat(ig)).toFixed(2);
      $("#id_totalcompra").val(resm.toFixed(2));
      $('#producto_'+id).remove();
    }

    function guardarcomprita() {
        var formData = $('#form_compra').serialize();
        $.ajax({
            url: "compra/compra/guardardetalle/",
            type: 'POST',
            data: formData,
            success: function(data){
                alert(data); return false;
            }
        });
        return false;
    }
</script>

<script>$('select').select2({width: '100%'});</script>