<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 53%" ><b>LISTA DE COMPRA</b></span>
</div>
<!--h4 align='center' style='color: #3293a2'><b>LISTA DE TIPO_MOVIMIENTOS</b></h4>
<hr-->

<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Nombre Proveedor</td>
          <td>Descripcion</td>
          <td>Fecha Compra</td>
          <td>Total Compra</td>
          <td>Total Igv</td>
          <td>Ver Compra</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.nombreproveedor.razon_social}}</td>
          <td>{{ foo.descripcion}}</td>
          <td>{{ foo.fechacompra}}</td>
          <td>{{ foo.totalcompra}}</td>
          <td>{{ foo.totaligv}}</td>
          <td>
            <a style='color: red' onclick="modal1({{ foo.id}},'{{ foo.fechacompra|date:"Y-m-d"}}')">
              <i class='fa fa-eye '></i>
          </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>DETALLE DE LA COMPRA</h4>
      <div class="row">
        <div id="contenido1"></div>
      </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">CERRAR</a>
    </div>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href='#compra/compra/add?id='>
        <i class="large material-icons">add</i>
    </a>
</div>


<script>
  $('table').dataTable(datEs);
  function modal1(idcomp,fechacomp) {
  $('#contenido1').empty();
    $.getJSON("compra/compra/verdetalle",{'id':idcomp,'fecha':fechacomp},function(data){
        var d=data[0].detalle;
        var h='';
        var cont=0;
              $.each(d,function (key,value) {

               console.log(value);
            //    console.log(value.detalle[key].idcompra__nombreproveedor__razon_social);
                if (cont==0){
                  h+="<div><div class='card-content'>" +
                    "<table><thead>" +
                    "<tr>" +
                    "<td>#</td><td>PRODUCTO</td><td>CANTIDAD</td><td>PRECIO</td><td>IGV</td><td>SUBTOTAL</td>" +
                    "</tr>" +
                    "</thead>" +
                    "<tbody id=tab'></tbody>" +
                    "</div></div>";
                  h+="<div class='input-field col s4'>" +
                    "<div class='input-field'>" +
                    "<input disabled type='text' id='cantidad' value='"+value.idcompra__nombreproveedor__razon_social+"'>" +
                    "<label for='first_name' class='active'>PROVEEDOR</label>" +
                    "</div></div>";
                  h+="<div class='input-field col s4'>" +
                    "<div class='input-field'>" +
                    "<input disabled type='text' id='cantidad' value='"+value.idcompra__descripcion+"'>" +
                    "<label for='first_name' class='active'>DESCRIPCION</label>" +
                    "</div></div>";
                  h+="<div class='input-field col s4'>" +
                    "<div class='input-field'>" +
                    "<input disabled type='text' id='cantidad' value='"+value.idcompra__fechacompra+"'>" +
                    "<label for='first_name' class='active'>FECHA COMPRA</label>" +
                    "</div></div>";
                  h+="<div class='input-field col s4'>" +
                    "<div class='input-field'>" +
                    "<input disabled type='number' id='cantidad' value='"+parseFloat(value.idcompra__totalcompra)+"'>" +
                    "<label for='first_name' class='active'>TOTAL COMPRA</label>" +
                    "</div></div>";
                  h+="<div class='input-field col s4'>" +
                    "<div class='input-field'>" +
                    "<input disabled type='number' id='cantidad' value='"+parseFloat(value.idcompra__totaligv)+"'>" +
                    "<label for='first_name' class='active'>TOTAL IGV</label>" +
                    "</div></div>";
                  cont++;
                }
                if (cont>0){
                    h += "<tr>";
                    h += "<td>"+(key+1)+"</td>";
                    h += "<td>"+value.idproducto__descripcion+"</td>";
                    h += "<td>"+value.cantidad+"</td>";
                    h += "<td>"+value.precio+"</td>";
                    h += "<td>"+value.ivg+"</td>";
                    h += "<td>"+(parseFloat(value.precio)*parseFloat(value.cantidad)+parseFloat(value.ivg))+"</td>";
                    h += "</tr>";
                }

               // console.log(a);
              });

             $('#contenido1').append(h);


     });
    $('#modal').openModal();

  }
</script>