<!-- Style -->
<style>
    .tabs .tab a:hover {
    background: #47a73a;
    color: #000000;
    cursor: pointer;
    }

    .tabs .tab a {
    background-color: #4ca3a7;
    color: rgba(0, 0, 0, 0.82);
    }
#FullScreen {
    background-color: silver;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    overflow:auto;
    margin-bottom: 0% !important;
}
.card {
    margin-top: 1%;
    margin-bottom: 1%;
}
.card.small{
    height: 255px;
}
.row .s3 {
    width: 20% !important;
    padding: 0 0.2rem!important;
}
.circulitoF{
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background:#c0c0c0;
    margin-left: 10%;
    color: rgba(255, 255, 255, 0.86);
}
.circulitoF.ocupado{
    background: #d5351f;
}
.lista{
    padding: 1% 3% 0% 3%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    float: left;
    width: 100%;
    height: 75%;
    overflow:auto;
}
.lista .collection .plato{
    padding: 1% 5%;
}
.card .botones{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    /*display:none;*/
}
.botones .btn_mesa{
    float: left;
    height: 90%;
    align-content: center;
    margin: 1%;
    padding: 0px !important;
}
.modal{
    width: 80%;
    z-index:99999999999 !important;
    max-height: none !important;
    top:3% !important;
}
.table_modal td{
    padding: 5px 5px!important;
}
.entregado, .entregado .badge{
    background-color: rgba(0, 172, 193, 0.80)!important;
    color: white!important;
}
.min_bot_top,.min_bot_top .input-field{
    margin-bottom: 0px;
    margin-top: 0px;
}
.mostrar_tab{
    display: block!important;
}


</style>

<div class="card-panel" style="    background-color: #654747;">
    <a class="waves-effect waves-light btn red" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: rgba(230, 230, 234, 0.54);margin: 25%" >
        <b> <img src="static/media/logoempresa/Restaurant50.png" alt="" align="center" > HACER PEDIDOS</b>
    </span>

     &nbsp;&nbsp;
</div>

<div class="row" id="FullScreen" align="center">

  <div id ="top_contenedor_carta"></div>

  <div id="contenedor_mesas"></div>

  <div class="fixed-action-btn active" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" onclick="open_modal('delivery',0,true)">
        <i class="large material-icons">add</i>
    </a>
  </div>

</div>


<!-- Modal -->
<div id="modal_delivery" class="modal" style=" display: none; opacity: 1; transform: scaleX(0.7);">
    <div class="modal-content">
        <h4 class="min_bot_top">CREAR DELIVERY</h4>
        <form class="col s12">
            <div class="row min_bot_top">
                 <div class="input-field col s2">
                    <input id="del_correlativo" type="text" value="----">
                    <label for="del_correlativo" class="active" >Correlativo</label>
                 </div>
                <div class="input-field col s3">
                    <input id="del_dni" type="text">
                    <label for="del_dni" >DNI/RUC</label>
                 </div>
                <div class="input-field col s7">
                    <input id="del_cliente" type="text">
                    <label for="del_cliente" >Razon Social</label>
                 </div>
                <div class="input-field col s2">
                    <input id="del_sector" type="text">
                    <label for="del_sector" >Sector</label>
                 </div>
                <div class="input-field col s7">
                    <input id="del_direccion" type="text">
                    <label for="del_direccion" >Direccion</label>
                 </div>
                <div class="input-field col s3">
                    <input id="del_celular" type="text">
                    <label for="del_celular" >Celular</label>
                 </div>
            </div>
        </form>
        <div id ="mod_delivery_contenedor_carta"></div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn red m-b-xs modal-close"><i class="material-icons left">x</i>Cancelar</a>
        <a class="waves-effect waves-light btn m-b-xs" style="margin-right: 1%"><i class="material-icons left">+</i>Crear</a>
    </div>
</div>

<div id="modal_add" class="modal" style=" display: none; opacity: 1; transform: scaleX(0.7); ">
  <div class="modal-content">
     <h4 class="min_bot">SELECCIONAR PEDIDOS</h4>
     <div id ="mod_add_contenedor_carta">
     </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn red m-b-xs modal-close"><i class="material-icons left">x</i>Cancelar</a>
  </div>
</div>

<div id="modal_pay" class="modal" style=" display: none; opacity: 1; transform: scaleX(0.7); top: 250.516304347826px;">
    <div class="modal-content">
        <h4 class="min_bot_top">BOLETA - <span id="desc_mesa">MESA 01</span></h4>
        <form class="col s12" id="form_pagar">
            {% csrf_token %}
            <div class="row .min_bot_top" >
                <div class="input-field col s4 ">
                    <input id="pay_dni" name="pay_dni" type="number" class="validate">
                    <label for="pay_dni">Dni/ Ruc</label>
                </div>
                <div class="input-field col s6">
                    <input id="pay_nombre" name="pay_nombre" type="text" class="validate">
                    <label for="pay_nombre">Razon Social</label>
                </div>
                <div class="input-field col s2">
                    <input id="fecha" name="fecha" type="text" value="10-12-17">
                    <label for="fecha" class="active">Fecha</label>
                </div>
                <div class="input-field col s6">
                    <input id="direccion" name="fecha" type="text" class="validate">
                    <label for="direccion">Direccion</label>
                </div>
                <div class="col s2">
                    <select id="comprobante" name="comprobante" class="browser-default" >
                        <option value="1">Factura</option>
                    </select>
                    <label>Comprobante</label>
                </div>
                <div class="input-field col s4">
                    <input id="num_comprobante" name="num_comprobante" type="text" class="validate" value="001 - 00010">
                    <label for="num_comprobante" class="active">Num. Comprobante </label>
                </div>
            </div>
            <div class="row min_bot_top" id="table_detallepedido"> </div>
            <div class="row min_bot_top">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <input type="hidden" id="mesita_id" name="mesita_id">
                                    <input type="hidden" id="pedido_id" name="pedido_id">
                                    <input readonly id="subtotal" name="subtotal" type="text" class="validate" value="S/. 0.00">
                                    <label for="subtotal" class="active">SubTotal</label>
                                </div>
                            </td>
                            <td>
                                <p>
                                    <input type="checkbox" class="filled-in" id="conigv" checked="checked">
                                    <label  for="conigv">IGV (18%) </label>
                                </p>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <input readonly id="total" name="total" type="text" class="validate" value="S/. 118.00">
                                    <label for="total" class="active">Total</label>
                                </div>
                            </td>
                    </tbody>
                </table>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn red m-b-xs modal-close"><i class="material-icons left">add</i>Cancelar</a>
        <a class="waves-effect waves-light btn m-b-xs" onclick="realizarpago()"><i class="material-icons left">S/</i>Pagar</a>
    </div>
</div>

<!--LLega variable data y lugar(top, modal1, ) -->
<script type="text/template" id="cartajs">
<form id="formulario_<%= lugar %>" onsubmit="doPedido(this,'','pedidos','servicio','<%= lugar %>' );return false;">
    {% csrf_token %}
    <div id ="la_carta_<%= lugar %>" class="row" style="background-color: white;">
        <div id="filtro_" class="row" style="padding: 2%">
           <div class="col s4">
               <input id="buscador_<%= lugar %>" style="border-style: hidden; border: 3px solid rgba(66, 189, 202, 0.85);" type="text" placeholder="Buscar plato o producto aqui" onkeyup="buscarPer(this,'#lista_cargar_<%= lugar %>')">
           </div>

           <div id="select_mesas_<%= lugar %>" class="col s4" ></div>

           <div class="col s4">
               <button type='submit' class='waves-effect waves-light green btn' id="btn_envio_<%= lugar %>">
                    <i class='material-icons left'>send</i>Enviar
               </button>
           </div>
        </div> <!--Filtro enviar a mesa-->

        <div id="pedido_elaborado_<%= lugar %>"></div>

        <div id="cabeceras_<%= lugar %>" class="col s12">
            <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
                <% _.each(data, function(i,k){  %>
                    <li class="tab col s3 taaap" >
                        <a  style="border: 2px solid" onclick="open_tab(this,'<%= lugar %>','<%= i.clase %>_<%= i.idtipo %>')"><%= i.tipo %></a>
                    </li>
                <% }) %>
            </ul>
        </div> <!--Tipos de Platos-->

        <div id="lista_cargar_<%= lugar %>" class="collection">
            <% _.each(data, function(i,k){  %>
                <div id="<%= i.clase %>_<%= i.idtipo %>" class="col s12" style="display: none;"> <br>
                <% _.each(i.lista, function(f,h){  %>
                    <p style="padding:0 2%;">
                        <input type="checkbox" class="filled-in" id="<%= lugar %>_<%= i.clase %>_<%= f.id %>" value="<%= i.id %>">
                        <label  onclick="checkar('<%= i.clase %>','<%= f.id %>','<%= f.descripcion %>','<%= f.precio %>','<%= lugar %>')" for="<%= lugar %>_<%= i.clase %>_<%= f.id %>">
                            <%= f.descripcion %> - <b> S/. <%= f.precio %></b>
                        </label>
                    </p>
                <% }) %><br>
                </div>
             <% }) %>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="mesasselectjs">
    <select style="border-style: hidden; border: 3px solid rgba(66, 189, 202, 0.85);" id="<%= lugar %>_mesa_s" name="mesas" class="browser-default" >
        <option value="0" >Seleccione ...</option>
        <% _.each(data, function(f,h){  %>
            <option value="<%= f.id %>" ><%= f.descripcion %></option>
            <% }) %>
     </select>
</script>

<script type="text/template" id="crearmesajs">
    <% _.each(data, function(f,h){  %>
    <div class="col s3" id="mesa_<%= f.id %>">
      <div class="card small" >
          <% if (f.estado==0) { %>
            <div  class="circulitoF" align="center"; >
          <% }else { %>
            <div  class="circulitoF ocupado" align="center"; >
          <% } %>
              <b class="numero" style="font-size: 9em;" ><%= f.id %></b>
          </div>
          <div class="lista">
              <div id="list_<%= f.id %>" class="collection">
                  <% _.each(f.lista, function(i,k){  %>
                    <a onclick="plato(this)" class="collection-item plato"
                       cant="<%= i[0].cantidad %>" ><%= i[0].desc %> <span class="badge"><%= i[0].cantidad %></span></a>
                  <% }) %>
              </div>
          </div>
          <div class="botones"><!--Botones -->
              <a class="waves-effect waves-light green btn-large btn_mesa modal-trigger" onclick="open_modaladd(<%= f.id %>,<%= f.estado %>)" style="width: 28%;">+</a>
              <a class="waves-effect waves-light red btn-large btn_mesa modal-trigger" onclick="open_modalpagar('pay',<%= f.id %>)" style="width: 68%">
                  <% if(f.estado==0) { %>
                   S/. 0.00
                  <% } else { %>
                   S/. <%= f.pedido[0].sub_total %>
                  <% } %>
              </a>
          </div>
      </div>
    </div>
    <% }) %>
</script>

<script type="text/template" id="pedidoelaboradojs">
     <div class="chip <%= lugar %>" id="<%= cod %>">
        <input  name="precio<%= clase %>[]" type="hidden" style="width: 40px;height: 25px;color: black;"  value="<%= precio %>">
    <input class="cant" name="cantidad<%= clase %>[]" type="number" style="width: 40px;height: 25px;color: black;" value="<%= cantidad %>">
    <input class="" type="hidden" name="id<%= clase %>[]" value="<%= id %>"><label style="font-size: 15px;color: black;"><%= descripcion %></label>
    <i class="close material-icons" onclick="quitar_check('<%= lugar %>_<%= clase %>_<%= id %>')" style="color: red;">close</i></div>
</script>


<script type="text/template" id="infopagar_mesajs">
    <table id="tabla_comprobante" class="bordered table_modal">
        <thead>
            <tr>
                <th data-field="id">Item</th>
                <th data-field="name">Descripcion</th>
                <th data-field="cantidad">Cantidad</th>
                <th data-field="precio_unitario">PU</th>
                <th data-field="subtotal">subtotal</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(data[0].lista, function(i,k){  %>
                <tr>
                    <td><%= k+1 %></td>
                    <td><%= i.desc %></td>
                    <td><%= i.cantidad %></td>
                    <td>S/. <%= i.precio %></td>
                    <td>S/. <%= i.cantidad*i.precio %></td>
                </tr>
          <% }) %>
        </tbody>
    </table>
</script>


<script>

 crear_carta('top','0',0);//lugar, mesa seleccionada, estado de la mesa
 crear_mesa('contenedor_mesas');

 function crear_carta(lugar,mesa,estado){
      $.getJSON('servicio/pedidos/json_cartas/').done(function (data) {
        t = _.template($("#cartajs").html());
        $("#"+lugar+"_contenedor_carta").html(t({data:data,lugar:lugar}));

        open_tab($('#cabeceras_'+lugar+' .tabs a').first(),lugar,$('#lista_cargar_'+lugar+' div').first().attr('id'));

        select_mesas(lugar,mesa,estado);
        $("#"+lugar+"_btn_add").attr('mesa',mesa);
     });
     return true;
 }

 function select_mesas(lugar,mesa,estado){
     if(estado==0){
         var filtro = 'estado';
         var valor = 0;
     }else{
         var filtro = 'id';
         var valor = mesa;
     }
     $.getJSON('servicio/pedidos/json_mesas/', {filtro: filtro, valor: valor}).done(function (data) {
        t = _.template($("#mesasselectjs").html());
        $("#select_mesas_"+lugar).html(t({data: data, lugar: lugar}));
        $("#" + lugar + "_mesa_s").val(mesa);
        var cod;
        if(estado!=0){
            $("#" + lugar + "_mesa_s").attr( "readonly", true );
            $.each(data, function( index, value ) {
              if(mesa==value.id){
                  $.each(value.lista, function( ind, v ) {
                      tp= _.template($("#pedidoelaboradojs").html());
                       cod = v[1].clase+'_'+ v[0].id;
                      $("#pedido_elaborado_"+lugar).append(tp({cod:cod ,clase:v[1].clase,precio:v[0].precio,lugar:lugar,descripcion:v[0].desc,id:v[0].ids,cantidad:v[0].cantidad}));
                  });

              }
            });
        }
     });

 }

//criterio,valor,idlugar
 function crear_mesa(idlugar){
    $.getJSON('servicio/pedidos/json_mesas/',{filtro:'',valor:0}).done(function (data) {
        t = _.template($("#crearmesajs").html());
        $("#"+idlugar).html(t({data:data}));
    });
 }

 function open_tab(e,lugar,name) {
     $("#lista_cargar_"+lugar+" .mostrar_tab").removeClass('mostrar_tab');
     $("#lista_cargar_"+lugar+" #"+name).addClass('mostrar_tab');
     $(e).parents("ul").find('.active').removeClass('active');
     $(e).addClass('active');
 }

 function expandir(){
    fullscreen(document.getElementById('FullScreen'));
 }

 function open_modal(lugar,valor,carta) {
    $("#modal_"+lugar).openModal();
    if(carta){
        crear_carta('mod_'+lugar,valor,0);
    }
 }

 function open_modaladd(valor,estado){
    $("#modal_add").openModal();
    crear_carta('mod_add',valor,estado);
 }

 function plato(element) {
    $(element).toggleClass('entregado');
 }

 function buscarPer(t,id) {
    var rex = new RegExp($(t).val(), 'i');
    $(id+' div p').hide();
     var text = $(t).val().length;
     if(text>=1){
         $(id).children('div').addClass('mostrar_tab');
     }else{
         $(id).children('div').removeClass('mostrar_tab');
         $('a.active').trigger('click');
     }
    $(id+' div p').filter(function () {
        return rex.test($(this).children('label').text());
    }).show();
  }

 function checkar(clase,id,descripcion,precio,lugar) {
    if ( $("#"+clase+"_"+id+"."+lugar).length > 0 ) {
       $("#"+clase+"_"+id+"."+lugar).remove();
    }else{
        var cod = clase+'_'+id;
        t =_.template($("#pedidoelaboradojs").html());
        $("#pedido_elaborado_"+lugar).append(t({cod:cod,clase:clase,precio:precio,lugar:lugar,descripcion:descripcion,id:id,cantidad:1}));
    }
 }

 function quitar_check(id) {
    $('#'+id).removeAttr("checked");
 }

 function doPedido(t,id,n,a,lugar) {
    var mesa= $('#'+lugar+'_mesa_s').val();
    if (mesa==0) {
        noti('error',"Seleccione Mesa");
        return false;
    }
    if ($("#pedido_elaborado_"+lugar).text()=="") {
        noti('error',"Seleccione su pedido");
        return false;
    }
    $('#btn_envio_'+lugar).attr("disabled","true");
    formData = new FormData($(t)[0]);
    if (id){
        url = a+'/'+n+'/doupdate/'+id+'/';
    }else{
        url = a+'/'+n+'/do/';
    }
    $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,

            success: function(da){
                noti('success', da);
                actualizar(lugar)
                return false;
            },
            error: function (r) {
                $('.errorlist').remove();
                var errors = JSON.parse(r.responseText);
                        for (e in errors) {
                            var id = '#id_' + e;
                            $(id).after(errors[e]);
                        }
                return false;
            }

    });
 }

 function actualizar(lugar) {
    if(lugar=='top'){
        crear_carta('top','0',0);
    }else {
        $( ".modal-close" ).trigger( "click" );
    }
    crear_mesa('contenedor_mesas');

 }


</script>

<!-- PAPICHULO METIENDO SCRIPT -->
<script>
    var subtot = 0;
    function open_modalpagar(name,valor){
        $.getJSON('servicio/pedidos/info_mesapagar/',{'mesa':valor}).done(function (data) {
            console.log(data);
            $("#pedido_id").val(data[0].pedidoinfo[0].id);
            $("#mesita_id").val(data[0].id);
            $("#desc_mesa").text(data[0].descripcion);
            subtot = data[0].pedidoinfo[0].sub_total;
            $("#subtotal").val(subtot);
            var valigv = parseFloat(subtot*0.18);
            $("#total").val(parseFloat(subtot)+valigv);
            $("#modal_"+name).openModal();
            t = _.template($("#infopagar_mesajs").html());
            $("#table_detallepedido").html(t({data:data}));
        });
    }
    $("#conigv").click(function () {
        if( $(this).is(':checked') ){
            var valigv = parseFloat(subtot*0.18);
            $("#total").val(parseFloat(subtot)+valigv);
        } else {
            $("#total").val(subtot);
        }
    })
    function realizarpago() {
        $.ajax({
            url: "servicio/pedidos/realizarpago/",
            type: 'POST',
            data: $("#form_pagar").serialize(),
            success: function(data){
                console.log(data);
                $("#modal_pay").closeModal();
                actualizar('modal');
                var urle= window.location;
                var url = String(urle).split("?");
                window.open(url[0]+'servicio/pedidos/imprimirticket?id='+data, '_blank');
            }
        });
    }
</script>