<h4 align='center'>{{ name|upper }} PEDIDOS </h4>
<a onclick='atras()' style='color: red; cursor: pointer'>
  <i class='fa fa-backward'></i>
  Atras
</a><br>
<div class='row'>
  <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'pedidos','servicio' );return false;"
  >
    {% csrf_token %}
    <div class='col s4'></div>
    <div class='col s4'>
      <b></b>
      <div class='input-field'>
        {{ form.info_pedido }}
        {{ form.info_pedido.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.det_ped_pla }}
        {{ form.det_ped_pla.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.det_ped_pro }}
        {{ form.det_ped_pro.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.det_ped_com }}
        {{ form.det_ped_com.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.correlativo }}
        {{ form.correlativo.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.fecha }}
        {{ form.fecha.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.estado }}
        {{ form.estado.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.sub_total }}
        {{ form.sub_total.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.registrador }}
        {{ form.registrador.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.mozo }}
        {{ form.mozo.label_tag }}
      </div>
      <div class='input-field'>
        {{ form.mesas }}
        {{ form.mesas.label_tag }}
      </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>
<!-- Modal -->
<div id='myModal'> </div>
<script>$('select').select2({width: '100%'});</script>