<div class="card-panel">
    <a class="waves-effect waves-light btn red" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 25%" ><b>LISTA DE PEDIDOS</b></span>
    <a href='#servicio/pedidos/do' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>




<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>correlativo</td>
          <td>fecha</td>
          <td>mesa</td>
          <td>estado</td>
          <td>sub_total</td>
          <td>información</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.correlativo}}</td>
          <td>{{ foo.fecha}}</td>
          <td>{{ foo.mesas}}</td>
          <td>{{ foo.estado}}</td>
          <td>{{ foo.sub_total}}</td>
          <td>
            <a style='color: red' href='#!'>
              <i class='fa fa-info-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red' href='#servicio/pedidos/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red'  onclick="deleteMantenimiento('servicio','pedidos',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href='#servicio/pedidos/do'>
        <i class="large material-icons">add</i>
    </a>
</div-->


<script>
$("#add" ).click(function() {
  fullscreen(document.getElementById('FullScreen'));
});
</script>
<script>
$('table').dataTable(datEs);
</script>