<html>
    <head>
        <style>
            body{
                background: #2E2E2E;
            }
            .content{
                width: 10cm;
                height: 15cm;
                margin: auto;
                background: #fff;
            }
            h4{
                text-align: center;
            }
            .table{
                padding-left: 25px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <h4>TICKET RESTAURANT</h4><hr>
            <table class="table">
                <tr>
                    <td>POLLERIA SAN MIGUEL</td>
                    <td>RUC: 2019434395</td>
                </tr>
                <tr>
                    <td>DIRECCION</td>
                    <td>JR. ALFONSO UGARTE</td>
                </tr>
            </table> <br>

            <h4>NOTA DE INGRESO DE CAJA</h4><hr>
            <table class="table">
                <tr>
                    <td>DNI</td>
                    <td>84737464</td>
                </tr>
                <tr>
                    <td>CLIENTE</td>
                    <td>DURMIENDO COMO BIEN</td>
                </tr>
            </table> <hr>

            <table class="table">
                <tr>
                    <td>N° Recibo</td>
                    <td>Fecha</td>
                    <td>Importe</td>
                </tr>
                {% for f in movi %}
                    <tr>
                        <td>{{ f.nrocomprobante}}</td>
                        <td>{{ f.fecha}}</td>
                        <td>S/. {{ f.monto}}</td>
                    </tr>
                {% endfor %}
            </table> <br><br>

            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                        <td>==========</td>
                    </tr>
                    <tr>
                        <td>IMPORTE TOTAL</td>
                        {% for f in movi %}
                           <td>S/. {{ f.monto}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>FORMA DE PAGO</td>
                        <td>EFECTIVO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>