<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 58%" ><b>{{ name|upper }}   PROVEEDOR</b></span>
</div>

<div class='card'>
    <div class='card-content'>

<div class='row'>
  <form onsubmit="guardarMantenimiento(this,{% if request.GET.id %}{{request.GET.id }}{% else %}''{% endif %},'proveedor','compra' );return false;"
  >
    {% csrf_token %}
    <div class="row">
        <div class='input-field col s3'>

            {{ form.razon_social }}
             <label for="id_razon_social" class="active">RAZON SOCIAL</label>

        </div>
        <div class='input-field col s3'>

            {{ form.direcion }}
           <label for="id_direcion" class="active">DIRECION</label>

        </div>
        <div class='input-field col s3'>

          {{ form.celular }}
          <label for="id_celular" class="active">CELULAR</label>

        </div>
        <div class='input-field col s3'>

           {{ form.ruc }}
           <label for="id_ruc" class="active">RUC</label>
        </div>
    </div>
    <div class='col s12' align='center'>
      <button type='submit' class='waves-effect waves-light btn'>
        <i class='material-icons left'>send</i>{{ name }}
      </button>
    </div>
  </form>
</div>

    </div>
</div>
<!-- Modal -->
<div id='myModal'> </div>

<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>

<script>$('select').select2({width: '100%'});</script>