<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 53%" ><b>LISTA DE COMPRA</b></span>
</div>
<!--h4 align='center' style='color: #3293a2'><b>LISTA DE TIPO_MOVIMIENTOS</b></h4>
<hr-->

<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>Razon Social</td>
          <td>Direcion</td>
          <td>Ruc</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.razon_social}}</td>
          <td>{{ foo.direcion}}</td>
          <td>{{ foo.celular }}</td>
          <td>{{ foo.ruc}}</td>
          <td>
            <a style='color: red' href='#compra/proveedor/update/{{ foo.id}}/?id={{ foo.id}}'>
              <i class='fa fa-pencil-square-o'></i>
          </a>
          </td>
          <td>
            <a style='color: red'  onclick="deleteMantenimiento('compra','proveedor',{{ foo.id}})" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href='#compra/proveedor/add?id='>
        <i class="large material-icons">add</i>
    </a>
</div>

<script>
$('table').dataTable(datEs);
</script>