/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}a{text-decoration:none;color:white;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


@font-face {
    font-family: 'socicon';
    src: url('/static/socicon/font/socicon-webfont.eot');
    src: url('/static/socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/socicon/font/socicon-webfont.woff') format('woff'),
         url('/static/socicon/font/socicon-webfont.ttf') format('truetype'),
         url('/static/socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}


.socicon {
    font-family: 'socicon' !important;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}





body{
margin:0;
padding:0;
color: #fff;
position: relative;
font-family: 'Roboto', sans-serif;
background: url(/static/media/images/background.jpg) top left fixed;
background-size: cover;
text-align: center;
}


.wrapper{
    display: table-cell;
    text-align: center;
    vertical-align: middle;	
	text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.5);    
}



.header{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.header h1{
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #292928;
}

.header h1 span{
	font-weight: 700;
}

.content{
	width: 90%;
	padding: 0 5%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	background: url(/static/media/images/content_bg.png) left top repeat-x;
	height: 96px;
}


.main-content{
	width: 100%;
	height: 96px;
	background: url(/static/media/images/blackish.png) left top repeat;
	float: left;
}

.comingsoon{
	width: 15%;
	padding: 0 3%;
	box-sizing: padding-box;
	float: left;
}

.comingsoon h2{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	margin-top: 35px;
	padding: 0 2px;
	box-sizing: padding-box;
	text-shadow: none;
}

.main-counter{
	width: 21%;
	padding: 0 3% 0 1%;
	float: left;
}



#counter {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 0px;
    float: left;
}

.countdown_section {
    color: #dadada;
    display: inline-block;
    font-size: 11px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
    letter-spacing: 0px;
    line-height: 10px;
    text-transform: lowercase;
    border-left: 1px solid #3f3c37;
}

.countdown_section:first-child {
    border-left: 0;
}

.countdown_amount {
    color: #fff;
    display: block;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
}


.social2{
	display: none;
}


.social, .social2{
	width: 14%;
	float: left;
	margin-top: 35px;
}

.social ul, .social2 ul{
	width: 100%;	
}

.social li, .social2 li {
	display: inline-block;
	width: 33%;
	float: left;
	
}

.social ul a, .social2 ul a{
	color: #30302e;
	border-radius: 24px;
	font-size: 16px;
	background: #8e8374;
	width: 30px;
	height: 30px;
	text-shadow: none;
	display: block;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	text-decoration: none;
}

.social ul a:hover, .social2 ul a:hover{
	text-decoration: none;
	background: #fff;
}







.form{
	float: right;
	width: 34%;
	padding: 0 3% 0 1%;
}

.mainform{
	width: 100%;
	margin-top: 30px;
}

.mainform p{
		font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.field{
	width: 85%;
	float: left;
}

.field input{
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	box-sizing: padding-box;
	border: 2px solid #fff;
	font-size: 12px;
	color: #999;
	float: left;
	padding: 8px;
	width: 92%;
}


.submit{
	width: 15%;
	float: left;
}




.submit input{
	border-radius: 5px;
	background: #fcfdff;
	width: 100%;
	float: left;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	cursor: pointer;
	color: #7a4246;
	font-weight: 700;
	padding: 7px 0;
	display: block;
	border: none;	
	
}

.submit:hover input{
	background: #774f44;
	color: #fff;
	
}






@media only screen and (max-width: 1024px){




.content{
	width: 90%;
	padding: 0 5%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	background: url(/static/media/images/content_bg.png) left top repeat;
	height: auto;
}


.main-content{
	width: 100%;
	height: auto;
	padding: 0 0 30px 0;
	background: url(/static/media/images/blackish.png) left top repeat;
	float: left;
}





.comingsoon{
	width: 90%;
	padding: 0 5%;
	box-sizing: padding-box;
	float: left;
}


.comingsoon h2{
	background: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	margin-top: 35px;
	padding: 0 2px;
	box-sizing: padding-box;
	text-shadow: none;
	color: #fff;
	/*margin-top:*/
}



.main-counter{
	width: 90%;
	padding: 0 5%;
	float: left;
}



#counter {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 0px;
    float: left;
}

.countdown_section {
    color: #dadada;
    display: inline-block;
    font-size: 11px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
    letter-spacing: 0px;
    line-height: 10px;
    text-transform: lowercase;
    border-left: 1px solid #3f3c37;
}

.countdown_section:first-child {
    border-left: 0;
}

.countdown_amount {
    color: #fff;
    display: block;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
}


.social{
	display: none;
}


.social2{
	width: 40%;
	display: inherit;
	padding: 0 30%;
}



.form{
	float: right;
	width: 90%;
	padding: 0 5%;
}



.field input{
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	background: #fff;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	box-sizing: padding-box;
	border: 2px solid #fff;
	font-size: 12px;
	color: #999;
	float: left;
	padding: 8px;
	width: 90%;
}


.submit input{
	border-radius: 2px;
	background: #fcfdff;
	width: 100%;
	float: left;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	cursor: pointer;
	color: #7a4246;
	font-weight: 700;
	padding: 7px 0;
	display: block;
	border: none;	
	
}




}


