<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 23%" ><b>LISTA DE MOVIMIENTOS</b></span>
        <a href='#admn_caja/movimientos/add?id=' class="waves-effect waves-light btn green"  style="float: right;"><i class="material-icons left">add</i>AGREGAR</a>
</div>


<ul class="tabs tab-demo z-depth-1" style="width: 100%;">
  <li class="tab col s3"><a href="#admn_caja/movimientos/listar">Movimientos Hoy</a>
  </li>
  <li class="tab col s3"><a href="#admn_caja/movimientos/historial">Historial de Movimientos</a>
  </li>
    <div class="indicator" style="right: 0px; left: 550px;"></div>
</ul>

<div class='card'>
  <div class='card-content'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>concepto caja</td>
          <td>descripcion</td>
          <td>fecha</td>
          <td>comprobante</td>
          <td>nro</td>
          <td>monto</td>
          <td>Extorno</td>
        </tr>
      </thead>
    <tbody>
      {% for foo in listamovimientos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ foo.idconcepto.descripcion}}</td>
          <td>{{ foo.descripcion}}</td>
          <td>{{ foo.fecha}}</td>
          <td>{{ foo.idcomprobante.descripcion}}</td>
          <td>{{ foo.nrocomprobante}}</td>
          <td>S/. {{ foo.monto}}</td>
          <td>
            <a style='color: red'  onclick="extornar('{{ foo.id}}','{{ foo.idconcepto.idtipo_movimiento_id}}','{{ foo.monto}}')" style='cursor: pointer'>
              <i class='fa fa-trash puntero'></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>


<div class="modal fade" id="modal_m__a" tabindex="-1" role="dialog" aria-labelledby="modal_m__a">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <center>
            <h3 style="font-size: 25px;" class="modal-title" id="myModalLabel">
                Mensaje Importante Usuario <br>
                <p style="color:darkred" id="infotext"></p>
            </h3>
            <button type="button" onclick="administrar_modal()" class="btn btn-default">Administrar Caja</button>
            <button type="button" onclick="principal_modal()" class="btn btn-default">Principal</button>
          </center>
      </div>
    </div>
  </div>
</div>

<!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href='#admn_caja/movimientos/add?id='>
        <i class="large material-icons">add</i>
    </a>
</div-->

{% load static %}

<script >
    $(function(){
        validar_apertura();
    });
    function administrar_modal() {
        $("#modal_m__a").closeModal();
        traemedatos("admn_caja/sesion_caja/listar");
    }
    function principal_modal() {
        var url = window.location;
        url= String(url);
        url= url.split("#");
        location.href = url[0];
    }
    function extornar(idmovi,tipomovi,monto) {
        l = Lobibox.confirm({
            msg : "¿Está seguro Extornar Movimiento: ?",
            callback: function ($this, type, ev) {
                if(type=="yes"){
                    $.get("admn_caja/movimientos/extornarmovi",{'id':idmovi,'tipomovimiento':tipomovi,'monto':parseFloat(monto)},function(data){
                        if(data=="true"){
                             noti('success', "Extorno realizado correctamente");
                        }else{
                             noti('error', "No se puede realizar el extorno");
                        }
                        traemedatos("admn_caja/movimientos/listar");
                    });
                }
            }
        });
    }
    function validar_apertura(){
        $.get("admn_caja/movimientos/validarcaja",{},function(data){
            if(data=='aperturar'){
                $("#infotext").text("Aperturar Caja Para Realizar Movimientos");
                $("#modal_m__a").openModal({
                    dismissible: false
                });
            }else{
                if(data=="aperturarfecha"){
                    $("#infotext").text("Aperturar Caja Con La Fecha Actual");
                    $("#modal_m__a").openModal({
                        dismissible: false
                    });
                }
            }
        });
    }
</script>
<script>
$('table').dataTable(datEs);
</script>