<div class="card-panel">
    <a class="waves-effect waves-light btn blue" onclick='atras()'><i class="material-icons left">arrow_back</i>ATRAS</a>
     &nbsp;&nbsp;
    <span class="card-title" style="font-size: 24px;color: #3293a2;margin-left: 60%" ><b>{{ name|upper }} NUEVO MOVIMIENTO </b></span>
</div>



<div class='card'>
  <div class='card-content'>

<form class="col s12" id="form_movimiento">

    <div class="row">
        <div class="input-field col s4">
            <select required="required" name="tipomovimiento" id="tipomovimiento" onchange="tipo_movimiento()">
                  <option value="">Seleccione</option>
                  <option value="1">Ingreso</option>
                  <option value="2">Egreso</option>
              </select>
            <label for="select2-tipomovimiento-container" class="active">TIPO MOVIMIENTO</label>
        </div>
        <div class="input-field col s4">
            <select required="required" name="concepto" id="concepto">
                  <option value="">Seleccione</option>
              </select>
            <label for="select2-concepto-container" class="active">CONCEPTO CAJA</label>
        </div>
        <div class="input-field col s4">
            <select required="required" name="comprobante" id="comprobante">
                  <option value="">Seleccione</option>
                  {% for f in comprobanteslista %}
                      <option value="{{f.id}}">{{ f.descripcion}}</option>
                  {% endfor %}
              </select>
            <label for="select2-comprobante-container" class="active">TIPO COMPROBANTE</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            <input id="nrocomprobante" name="nrocomprobante" type="text" class="validate">
            <label for="nrocomprobante" class="active">NRO. COMPROBANTE</label>
        </div>
        <div class="input-field col s4">
            <input placeholder="Escribe alguna descripcion (Si es que hubiera)" id="descripcion" name="descripcion" type="text" class="validate">
            <label for="descripcion" class="active">DESCRIPCION MOVIMIENTO</label>
        </div>
        <div class="input-field col s4">
            <input placeholder="S/." id="monto" name="monto" type="number" class="validate">
            <label for="monto" class="active">MONTO MOVIMIENTO</label>
        </div>
    </div>


  <div class='col s12' align='center'>
      <button type='button' onclick="guardarform()" class='waves-effect waves-light btn' id="btn_envio">
        <i class='material-icons left'>send</i>{{ name }} GUARDAR MOVIMIENTO
      </button>
  </div>
</form>

  </div>
</div>


<!-- Modal -->
<div id='myModal'> </div>
<script>
    $(function(){
        $('select').select2({width: '100%'});
    });

    function guardarform() {
        if($("#tipomovimiento").val()==""){
            noti('error',"seleccione tipo movimiento");
            $("#tipomovimiento").focus(); return 0;
        }
        if($("#concepto").val()==""){
            noti('error',"seleccione concepto de caja");
            $("#concepto").focus(); return 0;
        }
        if($("#comprobante").val()==""){
            noti('error',"seleccione tipo comprobante");
            $("#comprobante").focus(); return 0;
        }
        if($("#nrocomprobante").val()==""){
            noti('error',"Ingrese Nro del Comprobante");
            $("#nrocomprobante").focus(); return 0;
        }
        if($("#monto").val()==""){
            noti('error',"Ingrese Monto del Movimiento");
            $("#monto").focus(); return 0;
        }
        $("#btn_envio").attr("disabled","true");
        $.ajax({
            url: "admn_caja/movimientos/guardarmovimiento",
            type: 'GET',
            data: $("#form_movimiento").serialize(),
            success: function(data){
                noti('success', "Movimiento realizado correctamente");
                atras();
            }
        });
    }

    function tipo_movimiento(){
        $.get("admn_caja/movimientos/conceptos_tipo",{'id':$("#tipomovimiento").val()},function(data){
            $("#concepto").val("");
            $("#concepto").empty().html(data);
        });
    }
</script>