{% load static %}
<style>
    .prediseo{
	border-radius: 5px;
	background-color: #f3f3f6;
	 margin-top: 0;
   font-family: Lato,sans-serif;
   font-size: 20px;
    margin-bottom: 24px;
}
    .www{
        border: 1px solid #dbdbe2;
        background-color: #f3f3f6;
        outline: 0;
        width: 100%;
        border: 1px solid blue;
        height: 35px;
        padding: .3em;
        font-size: 1em;
        box-sizing: border-box;
        color: #1c3643;
        border: 1px solid #dbdbe2;
        border-radius: 5px;
        margin-bottom: 1em;
        webkit-transition: border-color .2s;
        transition: border-color .2s;
    }
</style>
<!-- Sign In Form -->
        <form onsubmit="loginP(this); return false;"  >

            {% csrf_token %}
            <div >
            <div class="links" align="center">
                <h4 style="color: #23a0a5"><b>INICIAR SESIÓN</b></h4>
            </div>

            <div class="prediseo clearfix" align="center">

                        <div  id="msmlogin" class="alert-dismissible hide" align="center">
                            <!--<span class="puntero" onclick="cerraralert('#msmlogin')">&times;</span> -->
                        </div>
                <!-- Username -->
                <div class="input-field">
                    <br>
                    <i class="fa fa-user prefix"></i>
                    {{ form.username }}

                </div>
                <!-- /Username -->

                <!-- Password -->
                <div class="input-field">
                    <i class="fa fa-unlock-alt prefix"></i>

                    {{ form.password }}
                </div>
                <!-- /Password -->
                <br>
                  <button class="btn" type="submit" name="action"> Ingresar <i class="mdi-content-send right"></i> </button>
            </div>

            <div class="links right-align">
                <a href="/reset/password_reset">olvidé contraseña?</a>
            </div>
            </div>
        </form>
        <!-- /Sign In Form -->
<script>
    function cerraralert(i) {
    $(i).addClass('hide');
}
</script>