{% extends "base_security.html" %}
{% block title %}
  PeruCore
{% endblock %}
{% block css %}
    {% load static  %}
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/material-design-icons/css/material-design-icons.min.css' %}" />

    <!-- IonIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ionicons/css/ionicons.min.css' %}" />

    <!-- WeatherIcons -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}" />

   <!-- Main -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/_con/css/con-base.min.css' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


{% endblock %}

{% block contenido %}

    <section id="sign-in">

        <!-- Background Bubbles -->
        <canvas id="bubble-canvas"></canvas>
        <!-- /Background Bubbles -->
        {% include 'login/frm_login.html' %}

    </section>
    <div class="footer">
            <p>Hardsoft © 2016 Todos los derechos reservados</p>
    </div>


{% endblock %}
{% block js %}

    <!-- jQuery RAF (improved animation performance) -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-requestAnimationFrame/dist/jquery.requestAnimationFrame.min.js' %}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="{% static 'bower_components/materialize/bin/materialize.js' %}"></script>


    <!-- Main -->
    <script type="text/javascript" src="{% static 'assets/_con/js/_con.js' %}"></script>

    <!-- Google Prettify -->
    <script type="text/javascript" src="{% static 'bower_components/code-prettify/src/prettify.js' %}"></script>

    <script src="{% static 'js/login.js' %}"></script>



{% endblock %}